{% load i18n %}
{% load staticfiles %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
    <title>Lost | Shoutit</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta name="google-site-verification" content="xjW9_C1eG4BKkBgPh1EpHXEphnAP0zkL6AwTXVaDRXw" />
	{% if LANGUAGE_BIDI %}
		<link type="text/css" rel='stylesheet' href="{% static "css/site.min.rtl.css"%}" />
	{% else %}
		<link type="text/css" rel='stylesheet' href="{% static "css/site.min.css"%}" />
	{% endif %}
    <link type="image/png" rel="icon" href="{% static "img/icon.png"%}"/>
    <style type="text/css">
        a {
            color: #08C;
        }
        a:hover {
            color: #005580;
        }
    </style>
</head>
<body>
<div class="site-wrapper">
    <div class="before-page">
        <div class="home-logo unselectable">{% trans "what will you shout today?" %}</div>
    </div>
    <div class="page">
        <div class="home-container">
            <div class="box-container white-container round shadow unicorn_not_found" >
                {% trans "Are you lost or something?" %}<br />
                {% trans "It seems you have requested something that does not exist." %}<br />
                {% trans "If you're lost you can use on of our unicorns to either go" %} <a href="/">{% trans "home" %}</a> {% trans "or" %} <a href="#" OnClick="history.back();">{% trans "back to the previous page" %}</a>.
            </div>
        </div>
    </div>
	<div class="site-push"></div>
</div>
<div class="home-sillouettes"></div>
<div class="site-footer not-found">
    <div class="home-footer theme-green"></div>
        <div class="home-footer-container">
            2012 &copy; Shoutit
        </div>
</div>
</body>
</html>