{% load i18n %}
{% load template_filters %}
{% load widget_tweaks %}
    <form id='activate_form' method="post" action="{{ request.path }}" class="signup clearfix">
        {% csrf_token %}
        {% if request.user.is_authenticated and request.user.profile.isSSS %}
			<div class="divs-inline">
				<div class="input-field fifty">
					{{ form.firstname|trans_attr:"placeholder:First Name"|attr:"data-qtip-error-my:bottom right"|attr:"data-qtip-error-at:top left" }}
				</div>
				<div class="input-field fifty">
					{{ form.lastname|trans_attr:"placeholder:Last Name"|attr:"data-qtip-my:left center"|attr:"data-qtip-at:right center"|attr:"data-qtip-error-my:bottom left"|attr:"data-qtip-error-at:top right" }}
				</div>
			</div>
			<div class="divs-inline">
				<div class="input-field fifty">
					{{ form.password|trans_attr:"placeholder:New Password"|attr:"data-qtip-error-my:bottom right"|attr:"data-qtip-error-at:top left" }}
				</div>
				<div class="input-field fifty">
					{{ form.confirm_password|trans_attr:"placeholder:Confirm Password"|attr:"data-qtip-my:left center"|attr:"data-qtip-at:right center"|attr:"data-qtip-error-my:bottom left"|attr:"data-qtip-error-at:top right" }}
				</div>
			</div>
        {% endif %}
        <div class="input-field">
            {{ form.username|trans_attr:"placeholder:Username" }}
        </div>
        <div class="input-field">
            {{ form.email|trans_attr:"placeholder:Email" }}
        </div>
        <div class="input-field">
            {{ form.mobile|trans_attr:"placeholder:Mobile" }}
        </div>
        <div class="input-field sex">
            {{ form.sex|trans_attr:"placeholder:Sex"|attr:"data-qtip-error-my:bottom right"|attr:"data-qtip-error-at:top left" }}
        </div>
        <div class="input-field birthday">
            {{ form.birthday|trans_attr:"placeholder:birthday" }}
        </div>
        {{ form.tokentype }}
        <button class="btn btn-primary" type="submit">{% trans "Activate" %}</button>
    </form>
{% block scripts %}
    <script type="text/javascript" language="javascript">
        $('form#activate_form').data('fields_map', {
            id_birthday : 'select[id^="id_birthday_"]'
        });
        $('form#activate_form').submitAjaxily(function (data) {
            if (redirect_after_login)
                redirect_by_response(data);
            else {
                $('body').trigger('activate_ok', [data.data.username]);
                redirect_after_login = true;
            }
        });

        var fix_date_issues = function () {
            var yr = $('select#id_birthday_year').val();
            var is_leap = false;
            if ((parseInt(yr) % 4) == 0) {
                if (parseInt(yr) % 100 == 0) {
                    if (parseInt(yr) % 400 != 0) {
                        is_leap = false;
                    }
                    if (parseInt(yr) % 400 == 0) {
                        is_leap = true;
                    }
                }
                if (parseInt(yr) % 100 != 0) {
                    is_leap = true;
                }
            }
            if ((parseInt(yr) % 4) != 0) {
                is_leap = false;
            }
            var months = {1 : 31, 2 : 28, 3 : 31, 4 : 30, 5 : 31, 6 : 30, 7 : 31, 8: 31, 9 : 30, 10 : 31, 11 : 30, 12 : 31};
            var month = $('select#id_birthday_month').val();
            var days = months[month];
            if (is_leap && month == '2')
                days++;
            $('select#id_birthday_day option').filter(function (index) {
                return parseInt($(this).val()) <= days;
            }).prop('disabled', false);
            $('select#id_birthday_day option').filter(function (index) {
                return parseInt($(this).val()) > days;
            }).prop('disabled', true);
            if ($('select#id_birthday_day option:selected').prop('disabled'))
                $('select#id_birthday_day option:not(:disabled):last').prop('selected', true)
        };
        $('select#id_birthday_month').bind('change', fix_date_issues);
        $('select#id_birthday_year').bind('change', fix_date_issues);

        $('#id_birthday_day').attr('placeholder', '{% trans "birthday [Day]" %}');
        $('#id_birthday_day').attr('data-qtip-my', 'top center');
        $('#id_birthday_day').attr('data-qtip-at', 'bottom center');
        $('#id_birthday_day').attr('data-qtip-error-my', 'bottom center');
        $('#id_birthday_day').attr('data-qtip-error-at', 'top center');
        $('#id_birthday_month').attr('placeholder', '{% trans "birthday [Month]" %}');
        $('#id_birthday_month').attr('data-qtip-my', 'top center');
        $('#id_birthday_month').attr('data-qtip-at', 'bottom center');
        $('#id_birthday_month').attr('data-qtip-error-my', 'bottom center');
        $('#id_birthday_month').attr('data-qtip-error-at', 'top center');
        $('#id_birthday_year').attr('placeholder', '{% trans "birthday [Year]" %}');
        $('#id_birthday_year').attr('data-qtip-my', 'left center');
        $('#id_birthday_year').attr('data-qtip-at', 'right center');
        $('#id_birthday_year').attr('data-qtip-error-my', 'bottom left');
        $('#id_birthday_year').attr('data-qtip-error-at', 'top right');
    </script>
{% endblock %}