{% load template_filters %}
{% load i18n %}
{% load staticfiles %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
		"http://www.w3.org/TR/html4/loose.dtd">
<html lang="{{ LANGUAGE_CODE }}">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# shoutitcom: http://ogp.me/ns/fb/shoutitcom#">
	<title>{% if page_title %}{{ page_title }} | {% endif %}Shoutit Marketplace</title>
	<meta NAME="Description" content="{{ page_desc }}">
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<meta name="google-site-verification" content="wqdwA0_jScik5wV2zHuMqwduoei4xECynezPBjsczFA" />
	<meta name="alexaVerifyID" content="o6xR6KObxSnbxYHK5fEjBLWskOM" />
	<link type="image/png" rel="icon" href="{% static "img/icon.png"%}"/>
	{#	<link type="text/css" rel='stylesheet' href="{% static "img/site.min.css"%}" />#}
	{% if LANGUAGE_BIDI %}
		<link type="text/css" rel='stylesheet' href="{% static "css/site.min.rtl.css" %}" />
	{% else %}
		<link type="text/css" rel='stylesheet' href="{% static "css/site.min.css" %}" />
	{% endif %}
	{% block styles_ %}{% endblock %}
	<!--[if lt IE 8]><style>div.user-image span,div.tag-image span{display: inline-block;height: 100%;}</style><![endif]-->
	<!-- HTML5 Support -->
	<script src="{% static "js/modernizr-1.1.min.js"%}"></script>

	<!-- Facebook Meta Tags -->
	<meta property="fb:admins" content="754775631"/>
	{% if is_fb_og %}
		<!-- Facebook Open Graph Object -->
		<meta property="fb:app_id" content="353625811317277" />
		{% block fb_og_meta %}{% endblock %}
		<!-- End Facebook Open Graph Object -->
	{% else %}
		<meta property="og:title" content="{% if page_title %}{{ page_title }} | {% endif %}Shoutit Marketplace"/>
		<meta property="og:type" content="website"/>
		<meta property="og:image" content="{% static "img/logo-fb-lint.png"%}"/>
		<meta property="og:site_name" content="Shoutit"/>
		<meta property="og:description" content="{{ page_desc }}"/>
	{% endif %}
	<!-- End Facebook special tags -->

	<script type="text/javascript" language="JavaScript" src="{% static "js/jquery-1.7.1.js"%}"></script>
	<script type="text/javascript" language="JavaScript" src="{% static "js/jquery-ui-1.8.17.custom.min.js"%}"></script>


{#	{% if not no_ga %}#}
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-16237577-7']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
{#	{% endif %}#}
	<script type="text/javascript" src="{% url "django.views.i18n.javascript_catalog" %}"></script>
</head>
<body>
{% include 'modals/navbar.html' %}
<div class="site-wrapper">
<div class="before-page">
	{% block before_page %}
	{% endblock %}
</div>
<div class="page">
<div class="find_us">
	<a href="http://itunes.apple.com/us/app/id517719439" title="{% trans "Shoutit for iPhone" %}" target="_blank"><div class="iphone_app"></div></a>
	<a href="http://play.google.com/store/apps/details?id=com.shoutit.android" title="{% trans "Shoutit for Android" %}" target="_blank"><div class="android_app"></div></a>
	<a href="http://appworld.blackberry.com/webstore/content/105904" title="{% trans "Shoutit for Blackberry" %}" target="_blank"><div class="blackberry_app"></div></a>
</div>
{% if not request.user.is_authenticated %}
	<div class="modal" id="signin_modal">
		<div class="modal-header">
			<a class="close" data-dismiss="modal">x</a>
		</div>
		<div class="modal-title">{% trans "Sign In" %}
		</div>
		<div class="modal-body">
			<div style="text-align: center;"><img src="{% static "img/modal-loading.gif"%}" alt=""></div>
		</div>
		<div class="modal-footer">
		</div>
	</div>
	<div class="modal" id="recover_modal">
		<div class="modal-header">
			<a class="close" data-dismiss="modal">x</a>
		</div>
		<div class="modal-title">{% trans "Forgot your password" %}
		</div>
		<div class="modal-body">
			<div style="text-align: center;"><img src="{% static "img/modal-loading.gif"%}" alt=""></div>
		</div>
		<div class="modal-footer">
		</div>
	</div>
	<div class="modal" id="signup_modal">
		<div class="modal-header">
			<a class="close" data-dismiss="modal">x</a>
		</div>
		<div class="modal-title">{% trans "Sign up" %}
		</div>
		<div class="modal-body">
			<div style="text-align: center;"><img src="{% static "img/modal-loading.gif"%}" alt=""></div>
		</div>
		<div class="modal-footer">
		</div>
	</div>
{% endif %}
{% if request.user.is_authenticated and not request.user.is_active %}
	<div class="modal {% if request.user.Profile.isSSS %}sss{% endif %}" id="activate_modal">
		<div class="modal-header">
			{#					{% if not request.user.Profile.isSSS %}<a class="close" data-dismiss="modal">x</a>{% endif %}#}
		</div>
		<div class="modal-title">{% trans "please, complete your details" %}
		</div>
		<div class="modal-body">
			<div style="text-align: center;"><img src="{% static "img/modal-loading.gif"%}" alt=""></div>
		</div>
		<div class="modal-footer">
		</div>
	</div>
	<div class="modal" id="resend_activation_modal">
		<div class="modal-header">
			<a class="close" data-dismiss="modal">x</a>
		</div>
		<div class="modal-title">{% trans "Send Activation Message" %}
		</div>
		<div class="modal-body">
			<div style="text-align: center;"><img src="{% static "img/modal-loading.gif"%}" alt=""></div>
		</div>
		<div class="modal-footer">
		</div>
	</div>

{% endif %}
<div class="modal hide fade" id="create_tiny_business_modal">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">x</a>
	</div>
	<div class="modal-title">
	</div>
	<div class="modal-body">
	</div>
	<div class="modal-footer">
	</div>
</div>
        <div class="modal confirm_business" id="confirm_business_modal">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">x</a>
            </div>
            <div class="modal-title">{% trans "Confirm Business" %}
            </div>
            <div class="modal-body">
                <div style="text-align: center;"><img src="{% static "img/modal-loading.gif"%}" alt=""></div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
<div class="modal hide fade" id="ReportModal">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">x</a>
	</div>
	<div class="modal-title">
	</div>
	<div class="modal-body">
	</div>
	<div class="modal-footer">
	</div>
</div>

<div class="modal{% if request.user.is_authenticated and request.user.Business %} business-shout-modal{% endif %}" id="shout_modal">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">x</a>
	</div>
	<div class="modal-title">{% trans "What have you got to shout about?" %}
	</div>
	<div class="modal-body">

		{% if not request.user.is_authenticated or request.user.Profile %}
			<div class="offer" data-toggle="modal" data-dismiss="modal" data-target="#shout_offer_modal"><div class="btn-offer"></div><b>{% trans "Offer" %}</b><br />{% trans "Got something to sell?" %}<br />{% trans "Want to share your expertise?" %}<br />{% trans "Keen to make some cash?" %}</div>
			<div class="request" data-toggle="modal" data-dismiss="modal" data-target="#shout_request_modal"><div class="btn-request"></div><b>{% trans "Request" %}</b><br />{% trans "Need to buy something?" %}<br />{% trans "Looking for assistance?" %}</div>
			<div class="experience" data-toggle="modal" data-dismiss="modal" data-target="#shout_experience_modal"><div class="btn-experience"></div><b>{% trans "Experience" %}</b><br />{% trans "Tell us your experience with" %}<br/>{% trans "Businesses arround you" %}</div>
		{% endif %}

		{% if request.user.is_authenticated and request.user.Business %}
			<div class="offer" data-toggle="modal" data-dismiss="modal" data-target="#shout_offer_modal"><div class="btn-offer"></div><b>{% trans "Offer" %}</b><br />{% trans "Shout your services " %}<br/>{% trans "and goods to the community." %}</div>
{#			<div class="deal" data-toggle="modal" data-dismiss="modal" data-target="#shout_deal_modal"><div class="btn-request"></div><b>{% trans "Deal" %}</b><br />{% trans "Special Deals go here." %}</div>#}
		{% endif %}
		<div style="clear: both;"></div>
	</div>
	<div class="modal-footer">
	</div>
</div>

<div class="modal shout_modal" id="shout_request_modal">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">x</a>
	</div>
	<div class="modal-title">{% trans "Shout a Request" %}
	</div>
	<div class="modal-body">
		<div style="text-align: center;"><img src="{% static "img/modal-loading.gif"%}" alt=""></div>
	</div>
	<div class="modal-footer">
	</div>
</div>

<div class="modal shout_modal" id="shout_offer_modal">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">x</a>
	</div>
	<div class="modal-title">{% trans "Shout an Offer" %}
	</div>
	<div class="modal-body">
		<div style="text-align: center;"><img src="{% static "img/modal-loading.gif"%}" alt=""></div>
	</div>
	<div class="modal-footer">
	</div>
</div>

<div class="modal shout_modal" id="shout_deal_modal">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">x</a>
	</div>
	<div class="modal-title">{% trans "Shout a Deal" %}
	</div>
	<div class="modal-body">
		<div style="text-align: center;"><img src="{% static "img/modal-loading.gif"%}" alt=""></div>
	</div>
	<div class="modal-footer">
	</div>
</div>

        <div class="modal experience_edit_modal" id="experience_edit_modal">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">x</a>
            </div>
            <div class="modal-title">Edit experience
            </div>
            <div class="modal-body">
                <div style="text-align: center;"><img src="{% static "img/modal-loading.gif"%}" alt=""></div>
            </div>
            <div class="modal-footer">
            </div>
        </div>

		<div class="modal shout_modal" id="shout_experience_modal">
			<div class="modal-header">
				<a class="close" data-dismiss="modal">x</a>
			</div>
			<div class="modal-title">{% trans "Shout an Experience" %}
			</div>
			<div class="modal-body">
				<div style="text-align: center;"><img src="{% static "img/modal-loading.gif"%}" alt=""></div>
			</div>
			<div class="modal-footer">
			</div>
		</div>
 		<div class="modal users_shared_experience_modal" id="users_shared_experience_modal">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">x</a>
            </div>
            <div class="modal-title">Users
            </div>
            <div id="users_shared_experience_modal_conatiner" class="modal-body">
            </div>
            <div class="modal-footer">
            </div>
        </div>
        <div class="modal fade" id="MapModal">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">x</a>
            </div>
            <div class="modal-title">
                <h4>{% trans "Specify Your Location" %}</h4>
            </div>
            <div align="center" class="modal-body" >
                <div id="UserMap" style="width: 525px; height: 300px; position: relative; overflow-x: hidden; overflow-y: hidden; "></div>
            </div>
            <div class="modal-footer">
                <input type="text" id="user_location_search_id">
                <a id="save_location" onclick="save_location('user_location_id','user_map_id_city','user_map_id_country')" class="btn primary ">{% trans "Save" %}</a>
                <input type="text" id="user_location_id" style="display:none;">
                <input type="text" id="user_map_id_city" style="display:none;">
                <input type="text" id="user_map_id_country" style="display:none;">
            </div>
        </div>
        {% block content %}
        {% endblock %}
	</div>
<div class="site-push"></div>
</div>
<div class="home-sillouettes"></div>
<div class="site-footer">
	<div class="home-footer theme-green"></div>
	<div class="home-footer-container {% if request.path == '/' %}landing{% endif %}">
		<div class="home-footer-copyright">
			{% now "Y" %} &copy; Shoutit
		</div>
		<div class="home-footer-links">
			<ul>
				<li> | </li>
				<li><a href="/rules/?lang={{ LANGUAGE_CODE }}">{% trans "Marketplace Rules" %}</a></li>
				<li> | </li>
				<li><a href="/tos/?lang={{ LANGUAGE_CODE }}">{% trans "Terms of Service" %}</a></li>
				<li> | </li>
				<li><a href="/privacy/?lang={{ LANGUAGE_CODE }}">{% trans "Privacy" %}</a></li>
{#				<li> | </li>#}
{#				<li class="select_lang">#}
{#					<a href="#lang" class="dropdown-toggle" data-toggle="dropdown"><i class="lang-icon"></i>{% if LANGUAGE_BIDI %}العربية{% else %}English{% endif %}<b class="caret"></b></a>#}
{#					<ul class="langs_list">#}
{#						<li><a href="?lang=en">English</a></li>#}
{#						<li><a href="?lang=ar">العربية</a></li>#}
{#					</ul>#}
{#				</li>#}
			</ul>
		</div>
		<div class="home-footer-social">
			<a title="Twitter page" class="footer-twitter" href="http://twitter.com/Shoutitcom" target="_blank"></a>
			<a title="Facebook page" class="footer-facebook" href="http://www.facebook.com/pages/ShoutIt/327771573931845" target="_blank"></a>
			{#			<a title="Linkedin page" class="footer-linkedin" href="http://www.facebook.com/pages/ShoutIt/327771573931845" target="_blank"></a>#}
		</div>
	</div>
</div>

<div id="notification_container">
	<div id="error-template" class="alert alert-error" rel="#{rel}">
		<a class="close ui-notify-close">x</a>
		<p>#{text}</p>
	</div>
	<div id="info-template" class="alert alert-info" rel="#{rel}">
		<a class="close ui-notify-close">x</a>
		<p>#{text}</p>
	</div>
	<div id="success-template" class="alert alert-success" rel="#{rel}">
		<a class="close ui-notify-close">x</a>
		<p>#{text}</p>
	</div>
	<div id="warning-template" class="alert" rel="#{rel}">
		<a class="close ui-notify-close">x</a>
		<p>#{text}</p>
	</div>
	{% if android_campaign %}
		<div id="google-play-template" class="alert alert-success">
			<a class="close ui-notify-close">x</a>
			<div>
				<a href="https://play.google.com/store/apps/details?id=com.shoutit.android" target="_blank">
					<img src="{% static "img/google-android-play.png" alt="Google Play" style="float:left;border:none;"%}" />
				</a>
				<a href="https://play.google.com/store/apps/details?id=com.shoutit.android" target="_blank" style="margin-left:10px;float:left;display:block;width:236px;">{% trans "Did you know that Shoutit is now available on Google Play for Android?" %}<br />{% trans "Check it out now!" %}
				</a>
				<div class="clear-both"></div>
			</div>
		</div>
	{% endif %}
</div>

<div id='ajax_loading' style='position: fixed; bottom: 0px; right: 0px; display: none; z-index: 2050;'>
	<img src='/static/img/loading.gif' />
</div>



<script type="text/javascript" language="JavaScript" src="{% static "js/bootstrap.js" %}"></script>
<script type="text/javascript" language="JavaScript" src="{% static "js/jquery.prettydate.js"%}"></script>
<script type="text/javascript" language="JavaScript" src="{% static "js/jquery.notify.js"%}"></script>
<script type="text/javascript" language="JavaScript" src="{% static "js/slimScroll.js"%}"></script>
<script type="text/javascript" language="JavaScript" src="{% static "js/site2.js"%}"></script>

<script type="text/javascript" language="JavaScript" src="{% static "js/jquery.colorbox.js"%}"></script>
<script type="text/javascript" language="JavaScript" src="{% static "js/jquery.placeholder.js"%}"></script>
<script type="text/javascript" language="JavaScript" src="{% static "js/fileuploader.js"%}"></script>
<script type="text/javascript" language="JavaScript" src="{% static "js/jquery.tagsinput.min.js"%}"></script>
<script type="text/javascript" language="JavaScript" src="https://maps.googleapis.com/maps/api/js?sensor=true&libraries=places"></script>
<script type="text/javascript" language="JavaScript" src="{% static "js/googlemap.js"%}"></script>
<script type="text/javascript" language="JavaScript" src="{% static "js/jquery.qtip.min.js"%}"></script>

<script type="text/javascript" language="JavaScript" src="{% static "js/site.js"%}"></script>

<script type="text/javascript" language="JavaScript" src="{% static "js/foursquare-js-api.js"%}"></script>
<script type="text/javascript" language="JavaScript" src="{% static "js/foursquare.js"%}"></script>

<script type="text/javascript" language="JavaScript">
	var user_location_map = null;
	var landing_map = null;


	$(document).ready(function () {
        user_country = '{{ user_country }}';
        user_city = '{{ user_city }}';
        user_lat = '{{ user_lat }}';
        user_lng = '{{ user_lng }}';

		$("#notification_container").notify({ stack : 'above', custom: true });
		setup_modal('#ReportModal','/modal/report/' , '#report', undefined, undefined, true);
		setup_modal('#shout_modal', undefined, '#shout', undefined);
		setup_modal('#shout_request_modal', '/modal/shout_buy/', '#request', function () {
			//Setup
		});
		setup_modal('#shout_offer_modal', '/modal/shout_sell/', '#offer', function () {
			//Setup
		});

		setup_modal('#shout_experience_modal', '/modal/experience/', '#experience', function () {
			//Setup
		});

		setup_modal('#shout_deal_modal', '/modal/shout_deal/', '#deal', function () {
			//Setup
		});

		setup_modal('#confirm_business_modal', '/confirm_business/', '#confirm_business', function() {

		});
		setup_modal('#create_tiny_business_modal', '/create_tiny_business/', '#create_tiny_business', function() {

		});
		{% if not request.user.is_authenticated %}
			setup_modal('#signup_modal', '/modal/signup/', '#signup', function () {
				//Setup
			});
			setup_modal('#signin_modal', '/modal/signin/', '#signin', function () {
				//Setup
			});
			setup_modal('#recover_modal', '/modal/forgot_password/', '#recover', undefined);
		{% endif %}
		{% if request.user.is_authenticated and not request.user.is_active %}
			setup_modal('#resend_activation_modal', '/reactivate/', '#reactivate', function (){

			});
			setup_modal('#activate_modal', '/activate/', '#activate', function () {

			});
		{% endif %}

		{% if request.user.is_authenticated %}

			$('#MapModal').on('shown', function () {
				if (user_location_map == null){
					user_location_map = new GoogleMap("#UserMap","user_location_id");
					user_location_map.CreateProfileMap( user_lat, user_lng, "user_location_search_id","user_map_id_city","user_map_id_country");
				}
			});
			$('#MapModal').on('hidden', function(){
				if (landing_map){
					var mapMarker = user_location_map.AddMarker.getPosition();
					if ( (user_lng == mapMarker.lng()) && (user_lat == mapMarker.lat()))
						landing_map.Map.panTo(mapMarker);
				}
			});
		{% endif %}

//        $('a#set_language').click(function () {
//            if ($('div.home-footer-languages').height() == 0) {
//                $('div.home-footer-languages').show().animate({height: '22px'});
//                $('div.home-footer').animate({height: '+=28px'});
//                $(document.body).animate({scrollTop : '+=28px'});
//            } else {
//                $('div.home-footer-languages').animate({height: '0px'}, function () {
//                    $('div.home-footer-languages').hide();
//                });
//                $('div.home-footer').animate({height: '-=28px'});
//            }
//            return false;
//        });
	});
</script>
{% block scripts %}
{% endblock %}
<script type="text/javascript" language="JavaScript">
	{% if request.user.is_authenticated %}
		var notificationsPollUrl = '{{ settings.REALTIME_SERVER_URL|secure_url }}';
		var currentTimeOut = 0;
		function poll() {
			$.ajax({ url: notificationsPollUrl, type: 'POST', data: '{"session_key" : "' + getCookie('sessionid') + '"}', success: function(data) {
				if (data.type !== undefined) {
					$('.notification-count').text(($('.notification-count').text() == '') ? 1 : parseInt($('.notification-count').text())+1);

					var message = '';
					var link = '';

					if (data.type == 'Followship') {
						message = data.from_user.name + ' has started listening to your shouts.';
						link = "/user/"+ data.from_user.username +"/";
						showMessage(message, 'info', 'new-notification', link);

					}else if (data.type == 'Experience'){
                        message = data.from_user.name + ' posted an experience on your profile.';
						link = data.attached_object.url;
						showMessage(message, 'info', 'new-notification', link);
                    }else if (data.type == 'Experience Shared'){
                        message = data.from_user.name + ' shared your experience.';
						link = data.attached_object.url;
						showMessage(message, 'info', 'new-notification', link);
                    }else if (data.type == 'Comment'){
                        message = data.from_user.name + ' commented on an experience.';
						link = data.attached_object.url;
						showMessage(message, 'info', 'new-notification', link);
                    }else if (data.type == 'Message') {
						link = "/messages/"+ data.attached_object.conversation_id +"/";

						var conversation_id = data.attached_object.conversation_id;
						if ((/\/messages\/[a-zA-z0-9]*/.exec(window.location.pathname)) ||
								((/\/shout\/[a-zA-z0-9]+[^buy^sell^exp]/.exec(window.location.pathname) != null) && (data.attached_object.shout_id == window.location.pathname.split("\/")[2])) ){
							if (current_conversation_id == conversation_id){
								var post_data = {id : data.attached_object.message_id ,type:"message"};
								requestAjaxily({
												   url: '/xhr/getHtmlMessage',
												   data : post_data,
												   type : 'GET',
												   successCallback:function(data){
													   $("#messages").append(data.data.html);
													   $('.pd').prettyDate();

													   var scrollDiv = $('.conversation .box-content').find('.slimScrollDiv');
													   var slimScrollBar = scrollDiv.find('.slimScrollBar');
													   var scrollableObject = scrollDiv.find('div#messages');
													   slimScrollBar.css('top', scrollDiv.height() - slimScrollBar.height() + 'px');
													   scrollableObject.scrollTop(scrollableObject[0].scrollHeight - scrollableObject.height());

													   requestAjaxily({
																		  url: '/xhr/message/'+ post_data.id +'/read/',
																		  data : post_data,
																		  type : 'POST'
																	  });
												   }
											   });
							}else if(current_conversation_id == -1){
								var post_data = {id : conversation_id ,type:"conversation"};
								requestAjaxily({
												   url: '/xhr/getHtmlMessage',
												   data : post_data,
												   type : 'GET',
												   successCallback:function(data){
													   $('#conversation_'+conversation_id ).remove();
													   $("#conversations_stream").prepend(data.data.html);
													   $('.pd').prettyDate();

													   var scrollDiv = $('.conversation .box-content').find('.slimScrollDiv');
													   var slimScrollBar = scrollDiv.find('.slimScrollBar');
													   var scrollableObject = scrollDiv.find('div#messages');
													   slimScrollBar.css('top', scrollDiv.height() - slimScrollBar.height() + 'px');
													   scrollableObject.scrollTop(scrollableObject[0].scrollHeight - scrollableObject.height());
												   }
											   });
							}else{
								message = data.from_user.name + ' sent you a message.';
								showMessage(message, 'info', 'new-notification', link);
							}
						}else{
							message = data.from_user.name + ' sent you a message.';
							showMessage(message, 'info', 'new-notification', link);
						}
					}
				} else {
					for (var i = 0; i < data.length; i++) {
						message = '';
						if (data[i].type == 'Followship') {
							message = data[i].from_user.name + ' has started listening to your shouts.';
						} else if (data[i].type == 'Message') {
							message = data[i].from_user.name + ' sent you a message.';
						}
						showMessage(message, 'info', 'new-notification');
					}
				}
				poll();
			}, dataType: "json", complete: function (jqXHR, textStatus) {
				if (textStatus == 'timeout') {
					poll();
					currentTimeOut = 0;
				} else if (textStatus != 'success') {
					currentTimeOut += 5000;
					setTimeout('poll()', currentTimeOut);
				}
			}, timeout: 30000, cache: false });
		}
	{% endif %}

	$(document).ready(function(){
		{% if request.user.is_authenticated and not request.user.is_active %}
			$('#activate_modal').modal({
										   keyboard: false,
										   backdrop: 'static',
										   show: false
									   });
		{% endif %}
		{% if android_campaign %}
			$("#notification_container").notify("create", "google-play-template", {}, { custom: true, sticky:true, expires: false,
				close: function () {
					requestAjaxily({
									   type: 'POST',
									   url: '/set_perma/',
									   data: {
										   perma: 'android_campaign',
										   value: true
									   }
								   });
				}});
		{% endif %}
		{% if request.user.is_authenticated %}
			requestAjaxily({
							   url: '/xhr/unReadNotificationsCount/',
							   data : {},
							   type : 'GET',
							   successCallback:function(data){
								   if (data.data.count!=0)
									   $('.notification-count').text(data.data.count);
							   }
						   });
			poll();
		{% endif %}
		show_modal_by_hash();
		$('a#signout_link').click(function () {
			requestAjaxily({
							   url: '/signout',
							   type: 'GET',
							   successCallback: function (data) {
								   setTimeout("window.location = '" + data.data.next + "';", 1500);
							   }
						   });
			return false;
		});

		{% if messages %}
			{% for message in messages %}
				showMessage("{{ message|escapejs }}", "{{ message.tags|escapejs }}");
			{% endfor %}
		{% endif %}
	});
</script>

{% if not request.user.is_authenticated %}
	<div id="fb-root"></div>
	<script src="{% static "js/fb.js"%}"></script>
	<script>
		$(document).ready(function(){
			$('.fb-login-button').click(function () {
				FB.login(null,{'scope':'email,user_birthday,publish_actions'});
			});
		});
	</script>
{% endif %}

<script>
	$(document).ready(function () {

{#		{% if not request.user.is_authenticated and new_ip %}#}
{#			getLocationInfoByLatLng({{ user_lat }},{{ user_lng }}, function (info) {#}
{#				var post_data = null;#}
{##}
{#				if (info == null)#}
{#					post_data = {user_lat :{{ user_lat }}, user_lng: {{ user_lng }} , user_country:'AE', user_city:'Dubai'};#}
{#				else#}
{#					post_data = {user_lat :{{ user_lat }}, user_lng: {{ user_lng }} , user_country:info['country'], user_city:info['city']};#}
{#				requestAjaxily({#}
{#								   url: '/xhr/setUserSessionLoactionInfo',#}
{#								   data : post_data,#}
{#								   type : 'GET',#}
{#								   successCallback:function(data){#}
{#									   user_country = info['country'];#}
{#									   user_city = info['city'];#}
{#									   user_lat = {{ user_lat }};#}
{#									   user_lng = {{ user_lng}};#}
{#									   $('body').trigger('location_available');#}
{#								   }#}
{#							   });#}
{#			});#}
{#		{% else %}#}
{#			user_country = '{{ user_country }}';#}
{#			user_city = '{{ user_city }}';#}
{#			user_lat = '{{ user_lat }}';#}
{#			user_lng = '{{ user_lng }}';#}
{#			$('body').trigger('location_available');#}
{#		{% endif %}#}
	});
</script>
<script type="text/javascript" charset="utf-8">
	var is_ssl = ("https:" == document.location.protocol);
	var asset_host = is_ssl ? "https://d3rdqalhjaisuu.cloudfront.net/" : "http://d3rdqalhjaisuu.cloudfront.net/";
	document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript" charset="utf-8">
	var feedback_widget_options = {};
	feedback_widget_options.display = "overlay";
	feedback_widget_options.company = "shoutit";
	feedback_widget_options.placement = "left";
	feedback_widget_options.color = "#222";
	feedback_widget_options.style = "idea";
	var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
</script>
<script type="text/javascript">
	setTimeout(function(){var a=document.createElement("script");
		var b=document.getElementsByTagName('script')[0];
		a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0012/6993.js?"+Math.floor(new Date().getTime()/3600000);
		a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
</script>

<script type="text/javascript">
function signInCallback(authResult) {

  if (authResult['code']) {
      requestAjaxily({
          type: 'POST',
          url: '/gplus_auth/',
          data: JSON.stringify({
            code: authResult['code'],
            consumer_key: "935842257865-s6069gqjq4bvpi4rcbjtdtn2kggrvi06.apps.googleusercontent.com"
          }),
          contentType: 'application/json',
          successCallback: function (data) {
              if (redirect_after_login)
                redirect_by_response(data);
              else {
                $('body').trigger('signin_ok', [data.data.username]);
                redirect_after_login = true;
              }
          }
      });

  } else if (authResult['error']) {
    // There was an error.
    // Possible error codes:
    //   "access_denied" - User denied access to your app
    //   "immediate_failed" - Could not automatially log in the user
    // console.log('There was an error: ' + authResult['error']);
  }
}
</script>

<!-- BEGIN Pre-requisites -->
<script type="text/javascript">
(function () {
  var po = document.createElement('script');
  po.type = 'text/javascript';
  po.async = true;
  po.src = 'https://plus.google.com/js/client:plusone.js?onload=start';
  var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(po, s);
})();
</script>
<!-- END Pre-requisites -->

</body>
</html>