{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% load template_filters %}
{% block styles_ %}
	{% block styles %}{% endblock %}
{% endblock %}
{% block content %}
	{#    <div id="Map" class="box-container white-container round shadow map browse"></div>#}
	{#	<div class="arrow-down" title="Click to expand the map."></div>#}
	<div class="page_content browse">

		<div class="left-column">
			<div class="tap-container">
				<ul id="myTab" class="nav">
					<li data-tab="offer" class="{% active request 'offers'%}"><a href="/offers/{{ browse_city_encoded }}/">{% trans "Offers" %}</a></li>
					<li data-tab="request" class="{% active request 'requests'%}"><a href="/requests/{{ browse_city_encoded }}/">{% trans "Requests" %}</a></li>
{#					<li data-tab="experience" class="{% active request 'experiences'%}"><a href="/experiences/{{ browse_city_encoded }}/">{% trans "Experiences" %}</a></li>#}
				</ul>
			</div>
			<div class="box-container dark-container round shadow shouts">
				<div class="outer-box-header-browse">
					<form class="well form-search container-fluid">

						<div class="search_con">
							<input type="text" id="home-search-box" class="span8 input-medium search-query" placeholder="{% with search_term="Search "|add:browse_type|title%}{% trans  search_term %}{% endwith %}"/>
						</div>
						<div style="display: inline-block;">
							<ul class="dropdown_search">
								{% if user.is_authenticated %}
									<li id="location_search_id" {% if user.is_authenticated %}title="Click to change your City" class="search_location" data-target="#MapModal" {% else %} class="search_location not_logged" {% endif %}data-toggle="modal">
										<span class="icon-map-marker"></span>
										<label class="browse_in">{{ browse_city }}</label>
									</li>
								{% else %}
									<li style=""><label class="browse_in" style="color: #676767;cursor: pointer;font-family: arial;font-size: 16px; ">{{ browse_city }}</label><b class="caret dropdown-toggle" style=""></b>
										<ul class="">
											{% for predefined_city in predefined_cities_approved %}
												<li><a href="/{{ browse_type }}/{{ predefined_city.EncodedCity }}/">{{ predefined_city.City }}</a></li>
											{% endfor %}
										</ul>
									</li>
								{% endif %}
								<li class="select_type" style=""><label id="type_shown" style="">{% trans "Recommended" %}</label><b class="caret dropdown-toggle" style=""></b>
									<ul class="search_ul">
										<li id="recommended_search" data-order="0" class="selected_search_order"><label>{% trans "Recommended" %}</label></li>
										<li id="recent_search" data-order="{{ constants|key:"Time" }}"><label>{% trans "Recent" %}</label></li>
										<li id="nearest_search" data-order="{{ constants|key:"Distance" }}"><label>{% trans "Nearest"%}</label></li>
									</ul>
								</li>
								<li class="pull-right">
									{% if browse_type == 'requests' %}
										<span class="user-icon-add" data-target="" data-toggle="modal" title="Add your Request"></span>
									{% else %}
										<span class="user-icon-add" data-target="" data-toggle="modal" title="Add your Offer"></span>
									{% endif %}
								</li>
							</ul>
						</div>
						<div class="category_search">
							<ul class="item-category">
								<li><span data-category="sentance">{% trans "Select a Category"%}</span></li>
								<li><a class="btn {% if not browse_category %}selected_category{% endif %} all_categories" href="/{{ browse_type }}/{{ browse_city_encoded }}/" data-category="All">{% trans "All"%}</a></li>
								{% for category in categories %}
									<li><a class="btn {% if browse_category == category.Name|lower %}selected_category{% endif %}" href="/{{ browse_type }}/{{ browse_city_encoded }}/{{ category.Name|lower }}/" data-category="{{ category.Name }}">{% trans category.Name %}</a></li>
								{% endfor %}
							</ul>
						</div>
					</form>

				</div>
				<div class="box-content">
					{% if browse_type == 'experiences' %}
						{% include 'experiences_stream.html' %}
					{% else %}
						{% include 'stream.html' %}
					{% endif %}
					{% if not count %}
						<div class="end_of_stream"> {% trans 'End of stream!' %} </div>
					{% endif %}
				</div>
			</div>
		</div>

		<div class="box-container white-container round shadow public-events">
			<div class="box-header">
				{% trans "Public Activities" %}
			</div>
			<div class="box-content">
			</div>
		</div>

		<div class="box-container white-container round shadow top-tags">
			<div class="box-header">
				<div class="top_tag_div"> {% trans "Top Tags" %} </div>
				<label class="browse_in location_top_tags">{{ browse_city }}</label>
			</div>
			<div class="box-content">
				<div id="tags" class="panel">
					<ul></ul>
				</div>
			</div>
		</div>
		<div class="box-container white-container round shadow mobile_apps">
			<div class="box-header"><div class="">{% trans "Shoutit Apps" %}</div></div>
			<div class="mobile_logos_container">
				<a target="_blank" href="http://itunes.apple.com/us/app/id517719439"><span class="iphone_app_logo"></span><span>iPhone</span></a>
				<a target="_blank" href="http://play.google.com/store/apps/details?id=com.shoutit.android"><span class="android_app_logo"></span><span>Android</span></a>
				<a target="_blank" href="http://appworld.blackberry.com/webstore/content/105904"><span class="blackberry_app_logo"></span><span>BlackBerry</span></a>
			</div>
		</div>

	</div>
	<div style="clear: both;"></div>
	{#	</div>#}
{% endblock %}

{% block scripts %}
	<script type="text/javascript" language="JavaScript">
		var timeout = null;
		var lastSearch = null;
		var browse_post_data = {};

		//        function filterByCat(cat) {
		//            var post_data = {category : cat};
		//            $('.shouts .box-content').resetScrollableStream();
		//            $('.shouts .box-content').setScrollableStreamData(post_data);
		//            $('.shouts .box-content').refreshScrollableStream();
		//        }
		//		$('.item-category li').click(function(){
		//			var category =$(this).children('span').attr('data-category');
		//			if(category !='sentance'){
		//			$('.item-category li').removeClass('selected_category');
		//			$(this).addClass('selected_category');
		//			search();
		//			}
		//		});
		function search(){

			var query = $('#home-search-box').val();
			lastSearch = query;

			var checked_tags = [];
//            var checked_types = [];
//			var checked_category = '';
			var checked_orders = [];
			var checked_ids = new Array();
//			checked_category = $('.item-category').find('.selected_category a');
//			checked_types = $('#shout-type-select .btn.active');

			for (var i = 0; i < checked_tags.length; i++)
				checked_ids.push(checked_tags[i].value);

//            var types = new Array();
//            for (i = 0; i < checked_types.length; i++) {
//                switch(checked_types[i].value)
//                {
//                    case 'buy':
//                        types.push("0");
//                        break;
//                    case 'sell':
//                        types.push("1");
//                        break;
//                    case 'experience':
//                        types.push("2");
//                        break;
//                }
//            }

			var order = 0;
			var search_order = $('.search_ul .selected_search_order').attr('data-order');
			order = (order | parseInt(search_order));
//			var category = $(checked_category).attr('data-category');
//			if(category !="sentance"){
//			if(category =="All"){
			var post_data = {tag_ids : checked_ids, shouts_order : order, query : query};
//			}else{
//				var post_data = {tag_ids : checked_ids, shouts_order : order, query : query, category : category};
//			}
//			}

			$('.shouts .box-content').resetScrollableStream();
			$('.shouts .box-content').setScrollableStreamData($.extend(post_data,browse_post_data));
			$('.shouts .box-content').refreshScrollableStream();
		}

		function endSearch(){
			$('.shouts .box-content').resetScrollableStream();
			$('.shouts .box-content').setScrollableStreamData($.extend({},browse_post_data));
			$('.shouts .box-content').refreshScrollableStream();
		}

		$(document).ready(function () {

			$('.user-icon-add').click(function(){
				var selected_tab = $('#myTab .active').attr('data-tab');
				$(this).attr('data-target','#shout_'+selected_tab+'_modal');
				//#shout_experience_modal #shout_request_modal #shout_offer_modal
			});
			setup_colorbox();

			{#            landing_map = new GoogleMap("#Map");#}
			{#            {% if user.is_authenticated %}#}
			{#                landing_map.CreateLandingMap({{ user.profile.Latitude }},{{ user.profile.Longitude }});#}
			{#            {% else %}#}
			{#                landing_map.CreateLandingMap(0,0);#}
			{#            {% endif %}#}

			$('.shouts .box-content').scrollableStream('885px', true, '/xhr/shouts/stream/', '.shouts .box-content', 1);
			var checked_types = [];
			var types = new Array();
			{% switch browse_type %}
				{% case 'requests' %}
				types.push("0");
				{% case 'offers' %}
				types.push("1");
				{% case 'experiences' %}
				types.push("2");
			{% endswitch %}
			var post_data = {url_encoded_city:'{{ browse_city_encoded }}', shout_types : types};

			{% if browse_category %}
				var category = "{{ browse_category }}";
				post_data = $.extend(post_data,{category : category});
			{% endif %}
			browse_post_data = $.extend({},post_data);
			$('.shouts .box-content').setScrollableStreamData(post_data);


//            $('body').bind('location_available', function () {
//				$('.browse_in').html(user_city);
//				$('.shouts .box-content').refreshScrollableStream();
			startLiveEventsPolling('/xhr/live_events/?url_encoded_city={{ browse_city_encoded }}', '.public-events .box-content');
			getTopTags('{{ browse_city_encoded }}');
//			});

			$('.public-events .box-content').slimScroll({
				height: '630px',
				size: '5px',
				resumePageScroll: false
			});

//			$('.arrow-down').click(function () {
//				if ($('.map').css('height') == '220px') {
//                    $('.map').animate({height: '440px'}, function () {
//                        var lastCenter = landing_map.Map.getCenter();
//						google.maps.event.trigger(landing_map.Map, "resize");
//                        landing_map.Map.panTo(lastCenter);
//					});
//					$(this).attr('title', 'Click to collapse the map.');
//				} else {
//					$('.map').animate({height: '220px'}, function () {
//                        var lastCenter = landing_map.Map.getCenter();
//						google.maps.event.trigger(landing_map.Map, "resize");
//                        landing_map.Map.panTo(lastCenter);
//					});
//					$(this).attr('title', 'Click to expand the map.');
//				}
//			});

			var box = $('#home-search-box');
			box.keypress(function(e){
				var k=e.keyCode || e.which;
				if(k==13){
					e.preventDefault();
				}
			});

			$('#home-search-box').keyup(function(event){
				if (timeout != null)
					clearTimeout(timeout);
				if ($(this).val() == "" && lastSearch!="")
					endSearch();
				else {
					if ($(this).val() != lastSearch)
						timeout = setTimeout("search();", 300);
				}
			});

			// search tabs function
			$('.search_ul li').click(function() {
				$('.search_ul li').removeClass('selected_search_order');
				$(this).addClass('selected_search_order');
				$('#type_shown').text($(this).text());
				search();
			});

			$('.dropdown_search li').mouseover(function (){
				$(this).children('ul').show();
			});
			$('.dropdown_search li').mouseout(function (){
				$(this).children('ul').hide();
			});
		});
	</script>
{% endblock %}
