{% extends "base.html" %}
{% load widget_tweaks %}

{% block styles %}
{% endblock %}

{% block content %}
    <div class="span12 offset2">
    <form enctype="multipart/form-data" method="post" action="">
        {% csrf_token %}

        <div class="clearfix {% if form.name.errors %}error{% endif %}">
			<label><small>What is the name of your store?</small></label>
			<div class="input">
				{{ form.name|attr:"class:xlarge" }}{% if form.name.errors %}{% for error in form.name.errors %}<span > {{ error }}</span>{% endfor %}{% endif %}
			</div>
		</div>

        <div class="clearfix {% if form.website.errors %}error{% endif %}">
			<label><small>Have a Website?</small></label>
			<div class="input">
				{{ form.website|attr:"class:xlarge" }}{% if form.website.errors %}{% for error in form.website.errors %}<span > {{ error }}</span>{% endfor %}{% endif %}
			</div>
		</div>

        <div class="clearfix {% if form.phone.errors %}error{% endif %}">
			<label><small>Enter Phone Number</small></label>
			<div class="input"> 
				{{ form.phone|attr:"class:xlarge" }}{% if form.phone.errors %}{% for error in form.phone.errors %}<span > {{ error }}</span>{% endfor %}{% endif %}
			</div>
		</div>

        <div class="clearfix {% if form.image.errors %}error{% endif %}">
			<label>Image</label>
			<div class="input">
				{{ form.image|attr:"style:width: 270px;" }}{% if form.image.errors %}{% for error in form.image.errors %}<span>{{ error }}</span>{% endfor %}{% endif %}
			</div>
		</div>

        <div class="clearfix {% if form.description.errors %}error{% endif %}">
			<label>Describe it here</label>
			<div class="input">
				{{ form.description|attr:"class:xlarge" }}{% if form.description.errors %}{% for error in form.description.errors %}<span > {{ error }}</span>{% endfor %}{% endif %}
			</div>
		</div>

        <div>
			<label>Location</label>
            <div class="input" id="create_store" style="width: 280px; height: 280px;">
            </div>
		</div>

        <div class="input">
            {{ form.location|attr:"style:visibility:hidden"}}
        </div>

        <div class="actions">
			<button class="btn primary" type="submit">Create!</button>
		</div>

    </form>
	</div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            CreateShoutMap("create_store");
        });
    </script>
{% endblock %}