{% extends "base.html" %}
{% load widget_tweaks %}

{% block styles %}
{% endblock %}

{% block content %}
    <div class="span12 offset2">
    <form enctype="multipart/form-data" method="post" action=".">
        {% csrf_token %}

        <div class="clearfix {% if form.image.errors %}error{% endif %}">
			<div class="input">
			{%  if store.Image != '' %}
				<img width="128" height="128" src="/{{ store.Image }}" alt="{{ store.Name }}">
			{% else %}
				<img src="/static/img/shout_user2_p.png" alt="{{ store.Name}}">
			{% endif %}

            {{ form.image|attr:"style:width: 270px;" }}{% if form.image.errors %}{% for error in form.image.errors %}<span>{{ error }}</span>{% endfor %}{% endif %}
            <div align="left"> Max Size 1 M and Dimensions 150x150 Px </div>
			</div>
		</div>
    
        <div class="clearfix {% if form.name.errors %}error{% endif %}">
			<label><small>Name of store</small></label>
			<div class="input">
                <input class="xlarge" type="text" name="name" id="id_name" value="{{store.Name}}">
                {% if form.name.errors %}{% for error in form.name.errors %}<span > {{ error }}</span>{% endfor %}{% endif %}
			</div>
		</div>

        <div class="clearfix {% if form.website.errors %}error{% endif %}">
			<label><small>Website</small></label>
			<div class="input">
                <input class="xlarge" type="text" name="website" id="id_website" value="{{store.Website}}">
                {% if form.website.errors %}{% for error in form.website.errors %}<span > {{ error }}</span>{% endfor %}{% endif %}
			</div>
		</div>

        <div class="clearfix {% if form.phone.errors %}error{% endif %}">
			<label><small>Phone Number</small></label>
			<div class="input">
                <input class="xlarge" type="text" name="phone" id="id_phone" value="{{store.Phone}}">
                {% if form.phone.errors %}{% for error in form.phone.errors %}<span > {{ error }}</span>{% endfor %}{% endif %}
			</div>
		</div>

        <div class="clearfix {% if form.description.errors %}error{% endif %}">
			<label>Describe</label>
			<div class="input">
                <textarea class="xlarge" type="text" name="description" id="id_description">{{ store.Description }}</textarea>
			</div>
		</div>

        <div>
			<label>Location</label>
            <div class="input" id="edit_store" style="width: 280px; height: 280px;">
            </div>
		</div>

        <div class="input">
            {{ form.location|attr:"style:visibility:hidden"}}
        </div>

        <div class="actions">
			<button class="btn primary" type="submit">Save!</button>
		</div>

    </form>
	</div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            CreateProfileMap( {{store.Latitude}} , {{store.Longitude}} , "edit_store")
        });
    </script>
{% endblock %}
