{% load template_filters %}
    <div id="item{{ item.pk|base62 }}">
    <h4>item</h4>
    {{ item.Name }} <br />
    {{ item.Description }} <br />
    {{ item.Price }} {{ item.Currency.Code }} <br />
    {{ item.DateCreated }} <br/>
    {% for image in item.images %}
        {% if forloop.counter0 == 0 %}
            <div class="round shout-images" rel="shout_{{ item.pk|base62 }}" href="{{ image|secure_url }}" style="background-image: url('{{ image|thumbnail:145|secure_url }}');">
            </div>
            <i class="icon-search"></i>
        {% else %}
            <a href="{{ image|secure_url }}" rel="shout_{{ item.pk|base62 }}" style="display: none;"></a>
        {% endif %}
    {% endfor %}

    {% if IsOwner %}
        <button onclick="delete_gallery_item('{{item.pk|base62}}',this)" type="button" > Delete </button>
        <button onclick="shout_item('{{item.pk|base62}}',this)" class="user-btn"  > <span class="count">shout item</span>  </button>
{#        <a id="shout{{ item.pk|base62 }}" href="#shout" data-toggle="modal" data-target="#shout_item_modal">Shout Now</a>#}
        <button onclick="edit_item('{{ item.pk|base62 }}')"  class="user-btn" > <span class="count">edit</span> </button>
    {% endif %}
    {% if not IsOwner %}
        <button onclick="report_item('{{ item.pk|base62 }}')" class="user-btn" > <span class="count">Report</span> </button>
    {% endif %}
    <br/><br/>
    </div>