{% load template_filters %}
    <h4>item</h4>
    {{ item.Name }} <br />
    {{ item.Description }} <br />
    {{ item.Price }} {{ item.Currency.Code }} <br />
    {{ item.DateCreated }} <br/>
    {% for image in item.images %}
        {% if forloop.counter0 == 0 %}
            <div class="round shout-images" rel="shout_{{ item.pk|base62 }}" href="{{ image|secure_url }}" style="background-image: url('{{ image|thumbnail:145|secure_url }}');">
            </div>
            <i class="icon-search"></i>
        {% else %}
            <a href="{{ image|secure_url }}" rel="shout_{{ item.pk|base62 }}" style="display: none;"></a>
        {% endif %}
    {% endfor %}
    <br/>
