{#{% extends "base.html" %}#}
{#{% load widget_tweaks %}#}
{% load template_filters %}
{% load staticfiles %}

{##}
{#{% block content %}#}
    <div class="modal shout_modal" id="shout_item_modal">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
        </div>
        <div class="modal-title"> shout an item
        </div>
        <div class="modal-body">
            <div style="text-align: center;"><img src="{% static "img/modal-loading.gif"%}" alt=""></div>
        </div>
        <div class="modal-footer">
        </div>
    </div>

    <div class="modal shout_modal" id="edit_item_modal">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
        </div>
        <div class="modal-title"> edit an item
        </div>
        <div class="modal-body">
            <div style="text-align: center;"><img src="{% static "img/modal-loading.gif"%}" alt=""></div>
        </div>
        <div class="modal-footer">
        </div>
    </div>

     <div class="box-container white-container round shadow" style="margin-left: auto; margin-right: auto; text-align: center;">
         {% if IsOwner %}
             <form method="post" id="item_form" action="/add_gallery_item/{{  profile.username }}/">
                {% csrf_token %}
                {{ item_form.as_p }}
                 <div class="input-field" id="file-uploader">
                     <noscript>
                         <p> Please enable JavaScript to use file uploader. </p>
                     </noscript>
                 </div>
                <input type="submit" value="Send"/>
             </form>
         {% endif %}

        <div class="box-container dark-container round shadow items">
            <div class="box-content">
{#                {% if items %}#}
{#                    {% include 'gallery_items_stream.html' %}#}
{#                {% endif %}#}
            </div>
        </div>
    </div>
{#{% endblock %}#}

{#{% block scripts %}#}

<script type="text/javascript" language="JavaScript" src="{% static "js/jquery-1.7.1.js"%}"></script>
<script type="text/javascript" language="JavaScript" src="{% static "js/jquery-ui-1.8.17.custom.min.js"%}"></script>
{#<script type="text/javascript" language="JavaScript" src="{% static "js/bootstrap.js"%}"></script>#}
<script type="text/javascript" language="JavaScript" src="{% static "js/slimScroll.js"%}"></script>
<script type="text/javascript" language="JavaScript" src="{% static "js/site.js"%}"></script>

<script type="text/javascript" language="JavaScript">
    function report_item(id){
        report(id,{{ report_constants|key:"Item" }});
    }

    function edit_item(id){
        show_modal('#edit_item',{id:id});
    }

    function shout_item(id){
        show_modal('#shout_item',{id:id});
    }

    $(document).ready(function () {
        $('form#item_form').submitAjaxily();
        $('.items .box-content').scrollableStream('560px', true, '/xhr/gallery_items_stream/{{ profile.username }}/', '.items .box-content', 0);
        $('.items .box-content').refreshScrollableStream();

        setup_colorbox();
        setup_modal('#edit_item_modal', '/modal/edit_item_form/', '#edit_item', undefined, undefined, true);
        setup_modal('#shout_item_modal', '/modal/shout_item_form/', '#shout_item', undefined, undefined, true);


        if ({{ IsOwner }}){
            var uploader = new qq.FileUploader({
                action: "/upload/shout_item/",
                element: $('#file-uploader')[0],
                multiple: true,
                onComplete: function( id, fileName, responseJSON ) {
                    $('#ajax_loading').hide();
                    $('form#item_form [type="submit"]').prop('disabled', false);
                    if (responseJSON.success) {
                        var img = $('<img src="' + responseJSON.url + '" title="' + fileName + '" alt="' + fileName + '" />');
                        $('#file-uploader').find('.qq-uploader .qq-upload-button').after(img);
                        $('form#item_form').append('<input type="hidden" value="' + responseJSON.url + '" name="item_images"/>');
                    }
                },
                params: {
                    'csrf_token': '{% csrf_token_value %}',
                    'csrf_name': 'csrfmiddlewaretoken',
                    'csrf_xname': 'X-CSRFToken'
                },
                onSubmit: function(id, fileName){
                    $('#ajax_loading').show();
                    $('form#item_form [type="submit"]').prop('disabled', true);
                },
                allowedExtensions: ['jpg', 'jpeg', 'png', 'gif', 'bmp'],
                sizeLimit: 5 * 1024 * 1024
            });

            $('.qq-upload-drop-area').remove();

            $('.qq-upload-button').click(function () {
                $('.qq-upload-button input[type="file"]').click();
                $('.qq-upload-button input[type="file"]').show().focus().click().hide();
            });
        }
    });
</script>
{#{% endblock %}#}