{% load template_filters %}

{% if request.user.username == message.FromUser.username %}
    {% set right = 'True' %}
{% else %}
    {% set right = None %}
{% endif %}

<div class="message{% if right %} message-right{% endif %}">
    <div class="user-image pull-{% if right %}right{% else %}left{% endif %} shadow round">
        <a href="/user/{{ message.FromUser.username }}/" title="{{ message.FromUser.name }}">
            <img class="round" src="{{ message.FromUser.Image|thumbnail:95|secure_url }}" alt="{{ message.FromUser.name }}'s profile picture">
        </a>
    </div>
{#    <div class="arrow-{% if right %}right{% else %}left{% endif %} pull-{% if right %}right{% else %}left{% endif %}"></div>#}
    <div class="round shadow white-container pull-{% if right %}right{% else %}left{% endif %} message-content">
        <span class="message-date pd" title="{{ message.DateCreated|ISO8601 }}">{{ message.DateCreated }}</span>
        <br>
        {{ message.Text|linebreaksbr }}
        <div class="controls">
            <a class="shout_message_delete" onclick="deleteMessage('{{message.id|base62}}',this)"><i class="icon-trash" title="delete message"></i></a>
        </div>
    </div>
    <div style="clear: both;"></div>
</div>
