<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.2//EN"
		"http://www.openmobilealliance.org/tech/DTD/xhtml-mobile12.dtd">
<html>
<head>
	<title>Mobile |{% if page_title %} {{ page_title }} | {% endif %} Shoutit</title>
	<link rel="stylesheet" href="/static/new_design/css/mobile.css" />
	<link type="image/png" rel="icon" href="/static/new_design/img/icon.png"/>
	<link rel="apple-touch-icon-precomposed" href="/static/new_design/img/icon.png" />
	<link rel="apple-touch-icon" href="/static/new_design/img/icon.png"/>

	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"/>
	<meta name="HandheldFriendly" content="true"/>
	<meta name="MobileOptimized" content="320"/>
</head>
<body class="mobile-body">
<div id="mobile-logo-cloud"></div>
<div id="mobile-content">
	<div class="mobile_apps">
		<div class="box-header">Shoutit Apps</div>
		<div class="mobile_logos_container">
			<a target="_blank" href="http://itunes.apple.com/us/app/id517719439"><span class="iphone_app_logo"></span><span>iPhone</span></a>
			<a target="_blank" href="http://play.google.com/store/apps/details?id=com.shoutit.android"><span class="android_app_logo"></span><span>Android</span></a>
			<a target="_blank" href="http://appworld.blackberry.com/webstore/content/105904"><span class="blackberry_app_logo"></span><span>BlackBerry</span></a>
		</div>
	</div>
	        {% if content %}
	            <p>
	                {{ content|linebreaksbr }}
	            </p>
	        {% endif %}
	        {% if link %}
	            {% load template_filters %}
	            <br />
	            <p>
	                {{ link|secure_url }}
	            </p>
	        {% endif %}
	        <hr style="border: 1px dashed;" />
	        You're using your mobile to view Shoutit.<br /><br />
	        The mobile version will be available soon.<br /><br />
	        Please for the time being use your computer's browser to access Shoutit.<br /><br /><br />
	        Sincerely, Shoutit team.<br />
</div>
</body>
</html>