{% load staticfiles %}
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.2//EN"
        "http://www.openmobilealliance.org/tech/DTD/xhtml-mobile12.dtd">
<html>
<head>
    <title>Stats | Shoutit</title>
    <link rel="stylesheet" href="{% static "css/mobile.css"%}" />
    <link type="image/png" rel="icon" href="{% static "img/icon.png"%}"/>
    <link rel="apple-touch-icon-precomposed" href="{% static "img/icon.png"%}" />
    <link rel="apple-touch-icon" href="{% static "img/icon.png"%}"/>

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"/>
    <meta name="HandheldFriendly" content="true"/>
    <meta name="MobileOptimized" content="320"/>
</head>
<body class="mobile-body">
    <div id="mobile-logo-cloud"></div>
    <div id="mobile-content">
		<h4>Total Users : {{ users }}</h4>
		<p>Total Active Users : {{ users_a }}</p>
		<p>Signed up [not necessary active, actual users]: {{ users_e }}</p>
		<p>SSS users[active] : {{ sss }}</p>
		<p>fb users[active]: {{ fb }}</p>
		<p>regular signed up[not necessary active]: {{ users_s }}</p>
		<p>users who changed their Pic: {{ changed_pic }}</p>
		<p>users who changed their Bio: {{ changed_bio }}</p>
		<p>users with mobiles [unique #'s]: {{ mobiles }}</p>
{#		<p><b>Contest 1 Shares: {{ fb_contest1_shares }}</b></p>#}
{#		<p><b>Contest 1 Qualified: {{ fb_contest1_users }}</b></p>#}

		<hr style="border: 1px dashed;" />

		<h4>Total Active Shouts: {{ shouts }}</h4>
		<p>Requests: {{ shouts_req }}</p>
		<p>Offers: {{ shouts_ofr }}</p>
		<p>Experiences: {{ shouts_exp }}</p>
		<p>Active Trades by active users [owned]: {{ shouts_a }}</p>
		<p>Active Trades by signed up users [owned]: {{ shouts_e }}</p>
		<p>Active Real Trades [owned, and not sss]: {{ shouts_r }}</p>
		<hr style="border: 1px dashed;" />

		<h4>Conversations: {{ convs }}</h4>
		<p>Messages: {{ msgs }}</p>
		<hr style="border: 1px dashed;" />

		<h4>Followships: {{ followships }}</h4>
		<hr style="border: 1px dashed;" />

		<h4>Countries: {{ countries|length }}</h4>
		{% for country in countries %}
			<p>{{ country.Country }} : {{ country.count }}</p>
		{% endfor %}

		<h4>Cities: {{ cities|length }}</h4>
		{% for city in cities %}
			<p>{{ city.City }}  - {{ city.Country }}: {{ city.count }}</p>
		{% endfor %}
    </div>
</body>
</html>