{% load template_filters %}
{% load i18n %}
<div class='notifications'>
    {% for notification in notifications %}
        <div class="notification round {% if not notification.IsRead %}un{% endif %}read{% if not forloop.first %} bordered{% endif %}">
            <div class='notification-content'>
                {% switch notification.Type %}
                    {% case NOTIFICATION_TYPE_LISTEN %}
                        <a href='/user/{{ notification.FromUser.username }}/'>{{ notification.FromUser.name }}</a> {% trans "has started listening to your shouts." %}
                    {% case NOTIFICATION_TYPE_MESSAGE %}
                        <a href='/user/{{ notification.FromUser.username }}/'>{{ notification.FromUser.name }}</a> {% trans "sent you a" %} <a href='/messages/{{ notification.AttachedObject.Conversation_id }}/'>{% trans "message" %}</a>.
                    {% case NOTIFICATION_TYPE_EXP_POSTED %}
                        <a href='/user/{{ notification.FromUser.username }}/'>{{ notification.FromUser.name }}</a> posted an experience <a href='{% shout_link notification.AttachedObject %}/'>{{ notification.AttachedObject.Text }}</a> on your profile.
                    {% case NOTIFICATION_TYPE_EXP_SHARED %}
                        <a href='/user/{{ notification.FromUser.username }}/'>{{ notification.FromUser.name }}</a> shared your experience <a href='{% shout_link notification.AttachedObject.Experience %}'>{{ notification.AttachedObject.Experience.Text }}</a>
                    {% case NOTIFICATION_TYPE_COMMENT %}
                        <a href='/user/{{ notification.FromUser.username }}/'>{{ notification.FromUser.name }}</a> commented on experience <a href='{% shout_link notification.AttachedObject.AboutPost %}'>{{ notification.AttachedObject.AboutPost.Text }}</a>
                {% endswitch %}
            </div>
            <div class="pd notification-date" title="{{ notification.DateCreated|date:"Y-n-d H:i:s" }}">{{ notification.DateCreated }}</div>
            <div style='clear: both;'></div>
        </div>
    {% empty %}
        <div class="notification unread">
            <div class='notification-content'>
                {% trans "You don't have any notifications!" %}
            </div>
            <div style='clear: both;'></div>
        </div>
    {% endfor %}
    {% if request.is_ajax %}
        <a class='all-notifications' href='/notifications/'>{% trans "Read all notifications" %}</a>
    {% endif %}
</div>