{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="page_content">
    <div class="left-column">
        <div class="outer-box-header round shadow">
            {% trans "Notifications" %}
        </div>
        <div class="box-container dark-container round shadow notifications">
            <div class="box-content">
                {% include 'notifications.html' %}
            </div>
        </div>
    </div>
    <div class="right-column">
{#        <div class="box-container white-container round shadow public-shouts">#}
{#            <div class="box-header">#}
{#                {% trans "Public Shouts" %}#}
{#            </div>#}
{#            <div class="box-content">#}
{#            </div>#}
{#        </div>#}
		<div class="box-container white-container round shadow public-events">
			<div class="box-header">
				{% trans "Public Activities" %}
			</div>
			<div class="box-content">
			</div>
		</div>
    </div>
    <div style="clear: both;"></div>
</div>
{% endblock %}

{% block scripts %}
	<script type='text/javascript'>
        $(document).ready(function () {
//			$('body').bind('location_available', function () {
				startLiveEventsPolling('/xhr/live_events/', '.public-events .box-content');
//			});
			$('.public-events .box-content').slimScroll({
															height: '630px',
															size: '5px',
															resumePageScroll: false
														});
            $('.notifications .box-content').slimScroll({
                height: '560px',
                size: '5px',
                resumePageScroll: true
            });

{#            {% if not request.user.is_authenticated and new_ip %}#}
{#                $('body').bind('location_available', function () {#}
{#                    startLiveShoutsPolling('/xhr/shouts/livetimeline/', '.public-shouts .box-content');#}
{#                });#}
{#            {% else %}#}
{#                startLiveShoutsPolling('/xhr/shouts/livetimeline/', '.public-shouts .box-content');#}
{#            {% endif %}#}
//            startLiveShoutsPolling('/xhr/shouts/livetimeline/', '.public-shouts .box-content');


//            $('.public-shouts .box-content').slimScroll({
//                height: '430px',
//                size: '5px',
//                resumePageScroll: false
//            });
        });
    </script>
{% endblock %}
