{% extends "base.html" %}
{% load i18n %}
{% block content %}
	<div class="home-container">

		<div class="outer-box-header round shadow">
			{% trans "Marketplace Rules" %}
		</div>
		<div class="box-container dark-container round shadow">
			<div class="box-content">
				<div class="content clearfix">
					<p>{% trans "Shoutit is a platform for connecting buyers and sellers. Whether you're looking to find a graphic designer, get coffee delivered to your office, sell used furniture, buy a new iPad or help find a band for your daughter’s wedding, we want everyone to have a safe and enjoyable experience, so it's important to act in a respectful and responsible manner." %}</p>
					<p>{% trans "Please take a moment to review these Marketplace Rules." %}</p>
					<h2>{% trans "Trust and Safety" %}</h2>
					<p>{% trans "Participating in the Shoutit marketplace involves real people and real stuff. It's essential to protect yourself and use common sense, just like any other time you do business with someone new." %}</p>
{#					<h3>Buyers: Don't pay until you get it.</h3>#}
{#					<ul>#}
{#						<li>Is the item or service what you asked for? Does it work? Is it complete? Make sure you are satisfied before you complete the transaction.</li>#}
{#						<li>All sales are final and once you click "Pay" or hand over cash there's no going back, so be please be diligent!</li>#}
{#					</ul>#}
{#					<h3>Sellers: Make sure you get paid on the spot.</h3>#}
{#					<ul>#}
{#						<li>If you are being paid by credit card through Shoutit, wait for the buyer to press "Pay" and wait to receive an SMS text message from Shoutit and/or a notice in the Shoutit application informing you that the payment has in fact been sent.</li>#}
{#						<li>If you are sent a payment via credit card, you will receive an email inviting you to create a PoundPay account (or you may use an existing account) in order to receive the funds. PoundPay is a third-party payment processing service used by Shoutit for credit card transactions.</li>#}
{#						<li>Due to risks of fraud, we do not recommend accepting checks, money orders or other methods of payment that may be forged or counterfeited. It's best to stick to credit card via the Shoutit application or cash.</li>#}
{#					</ul>#}
					<h3>{% trans "Safety First" %}</h3>
					<ul>
						<li>{% trans "Always meet in a public place, like a café or bank. Avoid doing large transactions in cash." %}</li>
						<li>{% trans "Take care to protect your personal information, such as your name, address, phone number, credit card number. Only provide your personal information to the secure Shoutit application." %}</li>
						<li>{% trans "The Shoutit application allows you to communicate directly with buyers and sellers, so there should never be a need to share your personal information with others." %}</li>
{#						<li>Only accept payment by credit card through Shoutit or in cash. Don't accept checks, money orders or other methods of payment.</li>#}
					</ul>
{#					<h3>Dispute Resolution</h3>#}
{#					<p>Because transactions take place between you and the other person and all sales are final, Shoutit is not able to mediate disagreements or issue refunds for any reason. If you feel you may have been the victim of theft or fraud, be sure to document what happened and contact your local law enforcement for assistance.</p>#}
{#					<p>Maintaining the safety and integrity of Shoutit marketplace is extremely important to us, if a crime has taken place relating to a Shoutit listing, please provide us with a copy of the police report (by contacting us here: help@shoutit.com so that we may take appropriate action.</p>#}
					<h3>{% trans "Personal Conduct" %}</h3>
					<p>{% trans "Shoutit users are other people from your local community, you never know who you might meet-- they may even be someone you already know. Your reputation is your most valuable asset. It's imperative that everyone be treated with courtesy and respect." %}</p>
					<p>{% trans "Harassment, sexual solicitation and the use of inappropriate or hateful language are strictly prohibited. Please report any abusive communications sent through Shoutit using report@" %}shoutit.com{#  the "Report Fraud or Abuse" link: http://help.zaarly.com/customer/portal/emails/new.#}</p>
					<h2>{% trans "Offer Guidelines" %}</h2>
					<p>{% trans "All offers posted on Shoutit must comply with all applicable local laws and regulations. Don't post anything that is not legal to sell where you are located." %}</p>
{#					<p>Do not share personal information with other users. Please don't include your name, email address, phone number or other personal information in offers or communications with other users. For your safety and to maintain the integrity of the Shoutit marketplace, we require that you only communicate through Shoutit.</p>#}
					<p>{% trans "Prohibited Goods and Services: You can offer to buy just about anything on Shoutit, but here are some things that aren't allowed:" %}</p>
					<ul>
						<li>{% trans "Sexual activity of any kind or obtaining goods or services for purposes of sexual gratification is prohibited." %}</li>
						<li>{% trans "Drugs, alcohol or tobacco products, including prescription drugs, drug paraphernalia (rolling papers, pipes, etc.) or other controlled substances are prohibited. Over-the-counter medicine is okay." %}</li>
						<li>{% trans "Anything related to weapons or unlawful activity is prohibited. This includes soliciting, inducing or encouraging illegal acts or requesting goods or services in furtherance of a crime." %}</li>
						<li>{% trans "Animals, plants and insects that are regulated or prohibited for sale under applicable laws." %}</li>
						<li>{% trans "Blood, bodily fluids and body parts." %}</li>
						<li>{% trans "Embargoed goods." %}</li>
						<li>{% trans "Items designed to be used to commit a crime including not without limitation burglary tools, false identification and items used to manufacture illegal explosives or controlled substances." %}</li>
                        <li>{% trans "Material that infringes copyrights, trademarks or other third party rights." %}</li>
						<li>{% trans "Counterfeit or fraudulent items." %}</li>
						<li>{% trans "Obscene material, child pornography or material that is harmful to minors." %}</li>
						<li>{% trans "Prescription drugs, medical devices, controlled substances, illegal drugs, or drug paraphernalia." %}</li>
						<li>{% trans "Nonprescription drugs that make false or misleading claims that might require an approval." %}</li>
						<li>{% trans "Services or merchandise that promote hatred and violence against specific groups of people." %}</li>
						<li>{% trans "Services that are illegal including without limitation prostitution." %}</li>
						<li>{% trans "Stocks and other securities." %}</li>
						<li>{% trans "Stolen goods or property with serial number removed or altered." %}</li>
						<li>{% trans "Weapons (including but not limited to firearms, martial arts weapons, silencers, ammunition, disguised or switchblade knives, BB guns, stun guns or tear gas) and weapons parts." %}</li>
						<li>{% trans "Fireworks." %}</li>
						<li>{% trans "Items containing hazardous substances or pesticides." %}</li>
						<li>{% trans "Content that can intentionally or unintentionally violate any applicable local, state, national or international law, or any regulations having the force of law, including the Civil Rights Act of 1866, the Fair Housing Act, the Americans with Disabilities Act, and the Equal Credit Opportunity Act." %}</li>
					</ul>
					<p>{% trans "If you suspect an offer may violate these policies, please report it to report@shoutit.com and we will review it accordingly." %}</p>
					<p>{% trans "Thank you for reading! Please follow these rules, use good judgment, and help us build the premiere social marketplace in the world!" %}</p>
					<p>{% trans "Sincerely," %}</p>
					<p>{% trans "Shoutit Team" %}</p>
				</div>
			</div>
		</div>

	</div>
{% endblock %}
{% block scripts %}
	<script type="text/javascript">
	</script>
{% endblock %}