{% extends "base.html" %}
{% load widget_tweaks %}
{% load template_filters %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="/static/css/fileuploader.css" />
{% endblock %}

{% block content %}
	<div style="margin-bottom: 18px;" class="span6 offset6 clearfix unselectable">
		<a class="btn" href="/shout/buy">Buying</a>
		<a class="btn disabled">Selling</a>
{#		<a class="btn" href="/shout/exp/">Experience</a>#}
	</div>

	<div class="span12 offset2">
    <form enctype="multipart/form-data" method="post" id='shout_sell_form'>
        {% csrf_token %}

		<div class="clearfix {% if form.name.errors %}error{% endif %}">
			<label>I'm selling<br/><small>What are you shouting about?</small></label>
			<div class="input">
				{{ form.name|attr:"class:xlarge" }}{% if form.name.errors %}{% for error in form.name.errors %}<span > {{ error }}</span>{% endfor %}{% endif %}
			</div>
		</div>

		<div class="clearfix {% if form.price.errors %}error{% endif %}">
			<label>For</label>
			<div class="input">
				{{ form.price|attr:"class:mini" }}{% if form.price.errors %}{% for error in form.price.errors %}<span > {{ error }}</span>{% endfor %}{% endif %} AED
			</div>
		</div>

		<div class="clearfix {% if form.description.errors %}error{% endif %}">
			<label>Describe it here</label>
			<div class="input">
				{{ form.description|attr:"class:xlarge" }}{% if form.description.errors %}{% for error in form.description.errors %}<span > {{ error }}</span>{% endfor %}{% endif %}
			</div>
		</div>

		<div class="clearfix {% if form.tags.errors %}error{% endif %}">
			<label>Tags</label>
			<div class="input">
				{{ form.tags|attr:"class:xlarge" }}{% if form.tags.errors %}{% for error in form.tags.errors %}<span > {{ error }}</span>{% endfor %}{% endif %}
				<span id="tags_max">please input only 5 tags</span>
			</div>
		</div>

		<div class="clearfix {% if form.image.errors %}error{% endif %}">
			<label>Images</label>
            <div class="input" id="file-uploader">
                <noscript>
                    <p>Please enable JavaScript to use file uploader.</p>
                </noscript>
            </div>
		</div>

        <div>
			<label>Location</label>
            <div class="input" id="shout_sell" style="width: 280px; height: 280px;">
            </div>
		</div>

        <div class="inpu= forms.CharField(label='Location')t">
            {{ form.location|attr:"style:visibility:hidden" }}
{#            {{ form.country|attr:"style:visibility:hidden" }}#}
{#            {{ form.city|attr:"style:visibility:hidden" }}#}
{#            {{ form.address|attr:"style:visibility:hidden" }}#}

        </div>
		<div class="actions">
			<button class="btn primary" type="submit">Shout!</button>
		</div>

    </form>
	</div>
{% endblock %}

{% block scripts %}
	<script src="https://maps.googleapis.com/maps/api/js?sensor=true"></script>
	<script src="/static/js/googlemap.js"></script>

    <script type="text/javascript" src="/static/js/fileuploader.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            CreateShoutMap("shout_sell");
            $('form#shout_sell_form').submitAjaxily(function (data) {
                setTimeout("window.location = '" + data.data.next + "';", 1500);
            });

            var uploader = new qq.FileUploader({
                action: "/upload/shout_sell/",
                element: $('#file-uploader')[0],
                multiple: true,
                onComplete: function( id, fileName, responseJSON ) {
                    $('#ajax_loading').hide();
                    if (responseJSON.success) {
                        var img = $('<img src="' + responseJSON.url + '" title="' + fileName + '" alt="' + fileName + '" />');
                        img.load(function () {
                            var w = this.clientWidth;
                            var h = this.clientHeight;
                            if (w > h) {
                                ratio = w / 100;
                                h = h / ratio;
                                w = 100;
                            } else {
                                ratio = h / 100;
                                w = w / ratio;
                                h = 100;
                            }
                            $(this).css('width', '' + w + 'px');
                            $(this).css('height', '' + h + 'px');
                        });
                        $('#file-uploader').parents('div').filter(':first').append('<p></p>').append(img);
                        $('form#shout_sell_form').append('<input type="hidden" value="' + responseJSON.url + '" name="shout_images"/>');
                    }
                },
                params: {
                  'csrf_token': '{% csrf_token_value %}',
                  'csrf_name': 'csrfmiddlewaretoken',
                  'csrf_xname': 'X-CSRFToken'
                },
                onSubmit: function(id, fileName){
                    $('#ajax_loading').show();
                },
                allowedExtensions: ['jpg', 'jpeg', 'png', 'gif', 'bmp'],
                sizeLimit: 1024 * 1024
            });

            //tag input handling

			$('#id_tags').tagsInput({
				autocomplete_url:'/xhr/search/tag/',
				autocomplete:{
					autoFocus:true, minLength:1, delay:300,
					source: function(request, response) {
						$.ajax({
							url: "/xhr/search/tag/",
							dataType: "json",
							data: {
								term: request.term
							},
							success: function(data) {
								//map the data into a response that will be understood by the autocomplete widget
								data = data.data
								response($.map(data, function(item) {
									return {
										label: item,
										value: item
									}
								}));
							}
						});
					}
				}
				,
				'height':'72px',
				'width':'270px',
				'interactive':true,
				'delimiter': [' ',','],//first SHOULD always be ' ' [space]
				'defaultText':'add a tag',
				'onAddTag':null,
				'onRemoveTag':null,
				'onChange' : null,
				'removeWithBackspace' : true,
				'minChars' : 2,
				'maxChars' : 30, //if not provided there is no limit,
				'placeholderColor' : '#808080',
				max_tags:5
			});

			//geolocation handling
//			if(!!navigator.geolocation) {
//                $('#buttonFillLocation').click(function () {
//                        navigator.geolocation.getCurrentPosition(fillLocation, locationError);
//                });
//			}
//            else {
//            	$('#buttonFillLocation').remove();
//				$('#id_location').val('25.271139, 55.307485');
//			}
		});

//        function locationError(err) {
//            alert(err.code + '\n' + err.message);
//        }
//
//        function fillLocation(position) {
//            var latitude = position.coords.latitude;
//            var longitude = position.coords.longitude;
//            $('#id_location').val(latitude + ', ' + longitude);
//        }
    </script>
{% endblock %}