 {% extends "base.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% load template_filters %}
{% block content %}
    <div class="box-container white-container round shadow" style="margin-left: auto; margin-right: auto; text-align: center;">
        <form method="post" id="shout_deal_form" action="/shout_deal/">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="input-field" id="file-uploader">
                <noscript>
                    <p>{% trans "Please enable JavaScript to use file uploader." %}</p>
                </noscript>
            </div>
            <input type="submit" value="Send" />
        </form>
    </div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('form#shout_deal_form').submitAjaxily();
            var uploader = new qq.FileUploader({
                action: "/upload/shout_deal/",
                element: $('#file-uploader')[0],
                multiple: true,
                onComplete: function( id, fileName, responseJSON ) {
                    $('#ajax_loading').hide();
                    $('form#shout_deal_form [type="submit"]').prop('disabled', false);
                    if (responseJSON.success) {
                        var img = $('<img src="' + responseJSON.url + '" title="' + fileName + '" alt="' + fileName + '" />');
                        $('#file-uploader').find('.qq-uploader .qq-upload-button').after(img);
                        $('form#shout_deal_form').append('<input type="hidden" value="' + responseJSON.url + '" name="images"/>');
                    }
                },
                params: {
                    'csrf_token': '{% csrf_token_value %}',
                    'csrf_name': 'csrfmiddlewaretoken',
                    'csrf_xname': 'X-CSRFToken'
                },
                onSubmit: function(id, fileName){
                    $('#ajax_loading').show();
                    $('form#shout_deal_form [type="submit"]').prop('disabled', true);
                },
                allowedExtensions: ['jpg', 'jpeg', 'png', 'gif', 'bmp'],
                sizeLimit: 5 * 1024 * 1024
            });

            $('.qq-upload-drop-area').remove();

            $('.qq-upload-button').click(function () {
                $('.qq-upload-button input[type="file"]').click();
                $('.qq-upload-button input[type="file"]').show().focus().click().hide();
            });
        });
    </script>
{% endblock %}