{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
	<div class="span16">
		<form id='signin_form' action="." method="post">
			{% csrf_token %}
	
			<div class="clearfix">
				{{ form.username_or_email|attr:"placeholder:Username or Email" }}
			</div>

			<div class="clearfix">
				{{ form.password|attr:"placeholder:Password" }}
			</div>

			<button class="btn primary" type="submit">Sign in</button>
			<input type="hidden" name="next" value="{{ next }}" />
		</form>
		You don't have an account? Sign up <a href='/signup/'>here</a> for a Shout! account.
	</div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" language="javascript">
        $(document).ready(function () {
            $('form#signin_form').submitAjaxily(function (data) {
                setTimeout("window.location = '" + data.data.next + "';", 1500);
            });
        });
    </script>
{% endblock %}