{% load template_filters %}
<div class="shout_post clearfix">
    <a class="shout_post_image">
        <img src="/xhr/user/{{ shout.OwnerUser.username }}/picture/50/" alt="{{ shout.OwnerUser.username }}">
    </a>
    <div class="shout_post_body">

        <b><a href="/store/{{shout.OwnerStore.id }}/" class="hovercard" hovercard-name="{{ shout.OwnerStore.Name }}" hovercard-type="store" hovercard-data="">{{shout.OwnerStore.Name }}</a></b>
		{% if user.username == shout.OwnerUser.username %}
		<span class="shout_post_delete btn" id="delete{{shout.id}}">x</span>
		{% endif %}
        <span class="shout_post_date pd" title="{{ shout.DatePublished|date:"Y-n-d H:i:s" }}">{{ shout.DatePublished }}  </span> X</p>

        {% if shout.IsBuyShout %}
            <p>is willing to pay {{ shout.Item.Price|price }} for <a href="/shout/{{ shout.shout.id|base62 }}/">{{ shout.Item.Name }}</a>
        {% else %}
            <p>is offering to sell <a href="/shout/{{ shout.shout.id|base62 }}/">{{ shout.Item.Name }}</a> for {{ shout.Item.Price|price }}
        {% endif %}

        <p>{{ shout.Text }}</p>

        <div class="shout_post_tags clearfix">
            {% for tag in shout.GetTags %}
                <a class="post_tag hovercard unselectable" href="/tag/{{ tag.Name }}/" hovercard-name="{{ tag.Name }}" hovercard-type="tag" hovercard-data="">{{ tag.Name }}</a>
            {% endfor %}
        </div>
    </div>

</div>
