{% load widget_tweaks %}
{% load template_filters %}
{% load i18n %}
<form enctype="multipart/form-data" method="post" action="{{ request.path }}" id='profile_edit_form'>
    {% csrf_token %}
{#    <div class="clearfix {% if form.image.errors %}error{% endif %}">#}
{#        <div class="input">#}
{#            <img width="160" height="160" id='user_image' src="{{ user_profile.Image }}" alt="{{ user_profile.get_full_name }}">#}
{#        <div id="file-uploader">#}
{#            <noscript>#}
{#                <p>Please enable JavaScript to use file uploader.</p>#}
{#            </noscript>#}
{#        </div>#}
{#        <div align="left">Maximum size allowed is 150x150 and 90 KB.</div>#}
{#        </div>#}
{#    </div>#}
{#    <div class="clearfix {% if form.Bio.errors %}error{% endif %}">#}
{#        <div class="input">#}
{#        <label>Bio </label>#}
{#        {{ form.bio|attr:"style:width: 270px;" }}#}
{#        </div>#}
{#    </div>#}
    <div class="input-field">
        <div class='user-image'><img src="{{ user_profile.Image|thumbnail:95|secure_url }}"></div>
        <div id="file-uploader">
            <noscript>
                <p>{% trans "Please enable JavaScript to use file uploader." %}</p>
            </noscript>
        </div>
    </div>
    <div class="divs-inline">
        <div class="input-field">
            {{ form.firstname|trans_attr:"placeholder:First Name"|attr:"data-qtip-error-my:bottom right"|attr:"data-qtip-error-at:top left" }}
        </div>
        <div class="input-field">
            {{ form.lastname|trans_attr:"placeholder:Last Name"|attr:"data-qtip-my:left center"|attr:"data-qtip-at:right center"|attr:"data-qtip-error-my:bottom left"|attr:"data-qtip-error-at:top right" }}
        </div>
    </div>
    <div class="input-field">
        {{ form.bio|trans_attr:"placeholder:About" }}
    </div>
    <div class="divs-inline">
        <div class="input-field">
            {{ form.email|trans_attr:"placeholder:Email"|attr:"data-qtip-error-my:bottom right"|attr:"data-qtip-error-at:top left" }}
        </div>
        <div class="input-field">
            {{ form.username|trans_attr:"placeholder:Username"|attr:"data-qtip-my:left center"|attr:"data-qtip-at:right center"|attr:"data-qtip-error-my:bottom left"|attr:"data-qtip-error-at:top right" }}
        </div>
    </div>
    <div class="input-field">
        {{ form.mobile|trans_attr:"placeholder:Mobile" }}
    </div>
    <div class="input-field sex">
        {{ form.sex|trans_attr:"placeholder:Sex"|attr:"data-qtip-error-my:bottom right"|attr:"data-qtip-error-at:top left" }}
    </div>
    <div class="input-field birthdate">
        {{ form.birthdate|trans_attr:"placeholder:Birthdate" }}
    </div>
    <div class="input-field">
        {% trans "To change your password please supply the following:"%}
    </div>
    <div class="divs-inline">
        <div class="input-field fifty">
            {{ form.password|trans_attr:"placeholder:New Password"|attr:"data-qtip-error-my:bottom right"|attr:"data-qtip-error-at:top left" }}
        </div>
        <div class="input-field fifty">
            {{ form.password_confirm|trans_attr:"placeholder:Confirm Password"|attr:"data-qtip-my:left center"|attr:"data-qtip-at:right center"|attr:"data-qtip-error-my:bottom left"|attr:"data-qtip-error-at:top right" }}
        </div>
    </div>

	<button class="btn btn-primary" type="submit">{% trans "Save Changes" %}</button>
	<button class="btn" data-dismiss="modal">{% trans "Cancel" %}</button>

{#    <button class="btn primary" type="submit">Save Changes</button>#}
</form>
<script type="text/javascript" language="javascript">
    $('form#profile_edit_form').data('fields_map', {
        id_birthdate : 'select[id^="id_birthdate_"]'
    });
    $('form#profile_edit_form').submitAjaxilyAndRedirect();
    var fix_date_issues = function () {
        var yr = $('select#id_birthdate_year').val();
        var is_leap = false;
        if ((parseInt(yr) % 4) == 0) {
            if (parseInt(yr) % 100 == 0) {
                if (parseInt(yr) % 400 != 0) {
                    is_leap = false;
                }
                if (parseInt(yr) % 400 == 0) {
                    is_leap = true;
                }
            }
            if (parseInt(yr) % 100 != 0) {
                is_leap = true;
            }
        }
        if ((parseInt(yr) % 4) != 0) {
            is_leap = false;
        }
        var months = {1 : 31, 2 : 28, 3 : 31, 4 : 30, 5 : 31, 6 : 30, 7 : 31, 8: 31, 9 : 30, 10 : 31, 11 : 30, 12 : 31};
        var month = $('select#id_birthdate_month').val();
        var days = months[month];
        if (is_leap && month == '2')
            days++;
        $('select#id_birthdate_day option').filter(function (index) {
            return parseInt($(this).val()) <= days;
        }).prop('disabled', false);
        $('select#id_birthdate_day option').filter(function (index) {
            return parseInt($(this).val()) > days;
        }).prop('disabled', true);
        if ($('select#id_birthdate_day option:selected').prop('disabled'))
            $('select#id_birthdate_day option:not(:disabled):last').prop('selected', true)
    };
    $('select#id_birthdate_month').bind('change', fix_date_issues);
    $('select#id_birthdate_year').bind('change', fix_date_issues);

	$('#id_birthdate_day').attr('placeholder', '{% trans "Birthdate [Day]" %}');
	$('#id_birthdate_month').attr('placeholder', '{% trans "Birthdate [Month]" %}');
	$('#id_birthdate_year').attr('placeholder', '{%  trans "Birthdate [Year]" %}');
	$('#id_birthdate_day').attr('data-qtip-my', 'top center');
	$('#id_birthdate_day').attr('data-qtip-at', 'bottom center');
	$('#id_birthdate_day').attr('data-qtip-error-my', 'bottom center');
	$('#id_birthdate_day').attr('data-qtip-error-at', 'top center');
	$('#id_birthdate_month').attr('data-qtip-my', 'top center');
	$('#id_birthdate_month').attr('data-qtip-at', 'bottom center');
	$('#id_birthdate_month').attr('data-qtip-error-my', 'bottom center');
	$('#id_birthdate_month').attr('data-qtip-error-at', 'top center');
	$('#id_birthdate_year').attr('data-qtip-error-my', 'bottom center');
	$('#id_birthdate_year').attr('data-qtip-error-at', 'top center');

	{% if LANGUAGE_BIDI %}
    $('#id_birthdate_year').attr('data-qtip-my', 'right center');
    $('#id_birthdate_year').attr('data-qtip-at', 'left center');
    $('#id_firstname').attr('data-qtip-at', 'right center');
    $('#id_firstname').attr('data-qtip-my', 'left center');
    $('#id_lastname').attr('data-qtip-at', 'left center');
    $('#id_lastname').attr('data-qtip-my', 'right center');
    $('#id_email').attr('data-qtip-at', 'right center');
    $('#id_email').attr('data-qtip-my', 'left center');
    $('#id_username').attr('data-qtip-at', 'left center');
    $('#id_username').attr('data-qtip-my', 'right center');
    $('#id_sex').attr('data-qtip-at', 'right center');
    $('#id_sex').attr('data-qtip-my', 'left center');
	$('#id_birthdate_month').attr('data-qtip-my', 'left center');
	$('#id_birthdate_month').attr('data-qtip-at', 'right center');
	$('#id_birthdate_day').attr('data-qtip-my', 'left center');
	$('#id_birthdate_day').attr('data-qtip-at', 'right center');


	{% else %}
    $('#id_birthdate_year').attr('data-qtip-my', 'left center');
    $('#id_birthdate_year').attr('data-qtip-at', 'right center');
	{% endif %}
    var uploader = new qq.FileUploader({
        action: "/upload/user_image/",
        element: $('#file-uploader')[0],
        multiple: false,

        onComplete: function( id, fileName, responseJSON ) {
            $('#ajax_loading').hide();
            $('form#profile_edit_form [type="submit"]').prop('disabled', false);
            if (responseJSON.success) {
                $('.input-field .user-image img').attr('src', responseJSON.url);
            }
        },
        params: {
          'csrf_token': '{% csrf_token_value %}',
          'csrf_name': 'csrfmiddlewaretoken',
          'csrf_xname': 'X-CSRFToken'
        },
        onSubmit: function(id, fileName){
            $('form#profile_edit_form [type="submit"]').prop('disabled', true);
            $('#ajax_loading').show();
        },
        allowedExtensions: ['jpg', 'jpeg', 'png', 'gif', 'bmp'],
        sizeLimit: 200 * 1024
    });

	$('.qq-upload-drop-area').remove();
</script>