{% extends 'rest_framework_swagger/base.html' %}
{% load staticfiles %}
{% load template_filters %}
{% block title %}Shoutit API Documentation{% endblock %}
{% block style %}
  <link href="//fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet" type="text/css"/>
  <link href="{% static 'rest_framework_swagger/css/highlight.default.css' %}" media="screen" rel="stylesheet" type="text/css"/>
  <link href="{% static 'rest_framework_swagger/css/atelier-dune.light.css' %}" media="screen" rel="stylesheet" type="text/css"/>
  <link href="{% static 'rest_framework_swagger/css/rest_framework_swagger.css' %}" media="screen" rel="stylesheet" type="text/css"/>
  <link href="{% static 'rest_framework_swagger/css/screen.css' %}" media="screen" rel="stylesheet" type="text/css"/>
  <style>
    body {
      margin: 0;
    }

    #django-rest-swagger {
      background: #4CAF50;

    }

    #header {
      background-color: #388E3C;
      padding: 14px;
    }

    #header form#api_selector .input {
      margin: 0;
    }

    #header form#api_selector .input a#_user {
      display: block;
      text-decoration: none;
      font-weight: bold;
      padding: 6px 8px;
      font-size: 0.9em;
      color: white;
      background-color: #4CAF50;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      -o-border-radius: 4px;
      -ms-border-radius: 4px;
      -khtml-border-radius: 4px;
      border-radius: 4px;
    }

    #header a#logo {
      font-size: 1.5em;
      font-weight: bold;
      text-decoration: none;
      background: none;
      padding: 20px 0 20px 0;
      color: white;
    }
  </style>
{% endblock %}
{% block branding %}<a id="logo" href="{{ request.build_absolute_uri }}">Shoutit</a>{% endblock %}

{% block api_selector %}
  <form id="api_selector">
    <div class='input'>
      {% if user.is_authenticated %}
        {% auth_logout request user %}
      {% else %}
        {% auth_login request %}
      {% endif %}
    </div>
  </form>
{% endblock %}
{% block django_rest_swagger %}
  <div id="django-rest-swagger">
    <div class="swagger-ui-wrap">
      <a href="https://github.com/shoutit/shoutit-api/wiki" target="_blank">Shoutit API Wiki</a>
    </div>
  </div>
{% endblock %}
