[run]
omit = *migrations*,*management*,*settings*,*/v2/*,
       src/wsgi.py,
       src/manage.py,
       src/common/middleware/ProfilerMiddleware.py,
       src/common/middleware/SqlLogMiddleware.py
