# core
django-dotenv==1.4.1
requests==2.12.5
django==1.8.17
psycopg2>=2.6
kitchen==1.2.4
django-mptt==0.8.7
django-hvad==1.6.0
sendgrid==2.2.1

# admin
django-grappelli==2.9.1
django-mptt-admin==0.4.3

# django-rest-framework
djangorestframework==3.4.3
djangorestframework-oauth==1.1.0
git+https://github.com/mochawich/django-oauth2-provider@master3
django-filter==0.13.0
drf-extensions==0.3.1

# cache search queues
redis==2.10.5
django-redis==4.7.0
elasticsearch==2.4.0
elasticsearch-dsl==2.2.0
click==6.3
rq==0.7.1
django-rq==0.9.4
django-widget-tweaks
requests_aws4auth==0.9

# AWS imaging
pillow==4.0.0
boto3==1.4.4

# google
httplib2==0.9.2
google-api-python-client==1.6.1

# push + sockets
django-push-notifications==1.4.1
pusher==1.6.0
django-cors-headers==2.0.0
django-pgjson==0.3.1

# tracking
mixpanel==4.3.2

# docs
django-rest-swagger==0.3.6
markdown==2.6.6

# utils
django-request-id==1.0.0
raven==5.32.0
pydash
phonenumbers==8.0.1
django-ipware
twilio==6.2.dev0
nexmo
django-heartbeat
xmltodict
bpython==0.16

# urllib
# requires apt-get install libffi-dev
pyopenssl
ndg-httpsclient
pyasn1

# http://stackoverflow.com/questions/34646942/ssl3-get-server-certificate-certificate-verify-failed-on-python-when-requesting
certifi==2015.04.28


# To be removed
pytesseract

# production requirements
django-storages==1.5.2
setproctitle
newrelic


# test requirements
coverage==4.3.4
codeclimate-test-reporter
pytest==3.0.6
pytest-django==3.1.2
pytest-cov==2.4.0
pytest-pythonpath==0.7.1
django-dynamic-fixture==1.9.1
mock==2.0.0
django-fake-model==0.1.4
responses==0.5.1
flake8  # flake8 .
radon  # radon cc -s -n B .