<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="https://cdn.mxpnl.com/libs/mixpanel-platform/css/reset.css">
  <link rel="stylesheet" type="text/css"
        href="https://cdn.mxpnl.com/libs/mixpanel-platform/build/mixpanel-platform.v0.latest.min.css">
  <script src="https://cdn.mxpnl.com/libs/mixpanel-platform/build/mixpanel-platform.v0.latest.min.js"></script>
</head>
<body class="mixpanel-platform-body">
<div class="mixpanel-platform-section">
  <div id="eventSelect" style="float: left;"></div>
  <div id="dateSelect" style="float: right;"></div>
  <div style="clear: both;"></div>
  <div id="graph"></div>
</div>
<div id="table"></div>
<script>
    MP.api.setCredentials('{{ mixpanel_secret }}');

    var dateSelect = $('#dateSelect').MPDatepicker();
    var eventGraph = $('#graph').MPChart({chartType: 'line'});
    var eventTable = $('#table').MPTable({
        showPercentages: true,
        firstColHeader: 'Event'
    });

    var runQuery = function (eventName) {
        var dateRange = dateSelect.val();
        if (eventName) {
            MP.api.segment(eventName, null, dateRange).done(function (results) {
                eventGraph.MPChart('setData', results);
                eventTable.MPTable('setData', results);
            });
        }
    };

    runQuery('app_open');
    dateSelect.on('change', function () {
        runQuery('app_open')
    });
</script>
</body>
</html>
