<form method="post" action="/xhr/signup/">
    {% csrf_token %}
    <table>
        <tr>
            <td>Username</td>
            <td>{{ form.username }}{% if form.username.errors %}{% for error in form.username.errors %}<span style="color: red;" title="{{ error }}">*</span>{% endfor %}{% endif %}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{ form.email }}{% if form.email.errors %}{% for error in form.email.errors %}<span style="color: red;" title="{{ error }}">*</span>{% endfor %}{% endif %}</td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Sign Up" /></td>
        </tr>
        We'll send you an email with your password.
    </table>
</form>