body.mobile-body {
    padding: 0px 0px 8px;
    margin: 0px;
    background-color: #79d1f6;
}

div#mobile-logo-cloud {
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    height: 109px;
    width: 200px;
    background-image: url('/static/new_design/img/mobile-logo-cloud.png');
}

div#mobile-content {
    background-color: white;
    border: 1px solid #929497;
    padding: 8px;
    color: #929497;
    font-family: Helvetica, Arial, sans-serif, serif;
    font-size: 12pt;
	width:240px;
	margin: 8px auto 0;
    word-wrap: break-word;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

p {
    padding: 0px;
    margin: 0px;
	text-align: center;
}
a {
    color: #939598;
    font-weight: bold;
    text-decoration: none;
}
.mobile_apps .mobile_title{color: #8F8F8F;font-size: 14pt;margin-bottom: 15px;text-align: center;}
.mobile_logos_container{margin:0 auto;height:100px}
.mobile_logos_container span{width:70px;display:inline-block;float:left;padding-left:10px;font-size: 13px;}
.mobile_logos_container a{width:80px;display:inline-block;float:left;}
.mobile_apps .iphone_app_logo{background: url("/static/new_design/images/apps.png") repeat scroll 74px 0 transparent;height:85px;width: 66px;}
.mobile_apps .iphone_app_logo:hover{background-position: 74px 100px;}
.mobile_apps .android_app_logo{background: url("/static/new_design/images/apps.png") repeat scroll 166px 0 transparent;height:85px;}
.mobile_apps .android_app_logo:hover{background-position: 166px 100px;}
.mobile_apps .blackberry_app_logo{background: url("/static/new_design/images/apps.png") repeat scroll 0 0 transparent;height:85px;}
.mobile_apps .blackberry_app_logo:hover{background-position: 0 100px;}
div.box-header {border-bottom: 2px solid #999999;color: #666666;font-size: 14px;font-weight: bold;height: 18px;line-height: 18px;margin-top: 5px;padding-bottom: 3px;margin-bottom:10px;text-align: center;}