{% extends 'base.html' %}
{% load template_filters %}
{% load i18n %}
{% block content %}
    <div class="box-container white-container round shadow" style="margin-left: auto; margin-right: auto; text-align: left; padding: 10px;">
        <form action="/send_invitations/" method="post" id="invitations">
        {% csrf_token %}
            <input type="checkbox" id='check_all' />
        <ul id='contacts_list'>
            {% for contact in contacts %}
                {% for email in contact.emails %}
                    <li><input type="checkbox" name="emails" value="{{ contact.name }}|{{ email }}" /> <strong>{{ contact.name }}</strong> - {{ email }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
        <input type="submit" name="send" value="Send Invitations" />
    </form>
    </div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" language="JavaScript">
        $(document).ready(function () {
            $('form#invitations').submitAjaxily(function () {
                window.close();
            });
            $('#check_all').click(function () {
                $('input[name="emails"]').attr('checked', $('#check_all').is(':checked'));
            });
            $('input[name="emails"]').click(function () {
                $('#check_all').attr('checked', $('input[name="emails"]').filter(':checked').length == $('input[name="emails"]').length);
            });
        });
    </script>
{% endblock %}