{% load template_filters %}
{% load i18n %}
<div class="shout-brief">
	{% if request.user == event.OwnerUser and user_stream == 1 %}
		<a class="event-delete pull-right" onclick="delete_event('{{ event.pk }}',this)">
			<i class="icon-trash" title="{% trans 'Delete Event' %}"></i>
		</a>
	{% endif %}
	<div class="shout-brief-title">

    {% if event.EventType == event_types|key:"Follow User" or event.EventType == event_types|key:"Follow Business"%}
		<span class="user-icon-listens"></span>
		<div class="event-content">
        <a href="/user/{{ event.OwnerUser.username }}/">
            {{ event.OwnerUser.profile.name }}        </a>
        {% trans "has started listening to" %}
        <a href="/user/{{event.attached_object.username}}/">
            {{ event.attached_object.name }}
        </a>
		</div>
    {% endif %}

    {% if event.EventType == event_types|key:"Follow Tag" %}
		<span class="user-icon-listens"></span>
		<div class="event-content">
		<a href="/user/{{ event.OwnerUser.username}}/">
            {{ event.OwnerUser.profile.name }}
        </a>
        {% trans "has started listening to" %}
        <a href="/tag/{{event.attached_object.Name}}/">
            {{ event.attached_object.Name }}
        </a>
		</div>
    {% endif %}

    {% if event.EventType == event_types|key:"Shout Offer" %}
		<span class="user-icon-offers"></span>
		<div class="event-content">
		<a {% if event.OwnerUser.is_active or event.OwnerUser == request.user %}href="/user/{{ event.OwnerUser.username}}{% endif %}/">
            {{ event.OwnerUser.profile.name }}
        </a>
        {% trans "added an offer" %}
        <a href="{% shout_link  event.attached_object%}">
            {{ event.attached_object.Item.Name }}
        </a>
		</div>
    {% endif %}

    {% if event.EventType == event_types|key:"Shout Request" %}
		<span class="user-icon-requests"></span>
		<div class="event-content">
        <a {% if event.OwnerUser.is_active or event.OwnerUser == request.user %}href="/user/{{ event.OwnerUser.username}}{% endif %}/">
            {{ event.OwnerUser.profile.name }}
        </a>
        {% trans "added a request" %}
        <a href="{% shout_link  event.attached_object%}">
            {{ event.attached_object.Item.Name }}
        </a>
		</div>
    {% endif %}


    {% if event.EventType == event_types|key:"Experience" %}
		{% if event.attached_object.State == 1 %}
			<span class="user-icon-experiences-up"></span>
		{% else %}
			<span class="user-icon-experiences-down"></span>
		{% endif %}
		<div class="event-content">
        <a href="/user/{{ event.OwnerUser.username}}/">
            {{ event.OwnerUser.profile.name }}
        </a>
			{% trans "posted" %}
        <a href="{% shout_link event.attached_object %}">
{#        <a href="/experience/{{event.attached_object.pk}}">#}
            {{ event.attached_object.Text|rangeToIndex:30 }}
        </a>
			{% trans "on" %}
        <a href="/user/{{event.attached_object.AboutBusiness.username}}/">
            {{ event.attached_object.AboutBusiness.Name }}
        </a>{% trans "Profile" %}
		</div>
    {% endif %}

    {% if event.EventType == event_types|key:"Share Experience" %}
		{% if event.attached_object.Experience.State == 1 %}
			<span class="user-icon-experiences-up"></span>
		{% else %}
			<span class="user-icon-experiences-down"></span>
		{% endif %}
		<div class="event-content">
        <a href="/user/{{ event.OwnerUser.username}}/">
            {{ event.OwnerUser.profile.name }}
        </a>
		{% trans "shared an experience" %}
        <a href="{% shout_link event.attached_object.Experience %}">
            {{ event.attached_object.Experience.Text|rangeToIndex:30 }}
        </a>
		</div>
    {% endif %}

    {% if event.EventType == event_types|key:"Comment" %}
        <span class="user-icon-comment"></span>
		<div class="event-content">
        <a href="/user/{{ event.OwnerUser.username}}/">
            {% if event.OwnerUser.profile  %} {{ event.OwnerUser.profile.name }}  {% else %} {{ event.OwnerUser.first_name }} {% endif %}
        </a>
		{% trans "commented on experience" %}
        <a href="{% shout_link  event.attached_object.AboutPost.experience %}">
            {{ event.attached_object.AboutPost.Text|rangeToIndex:30 }}
        </a>
		</div>
    {% endif %}

    {% if event.EventType == event_types|key:"Post Deal" %}
		<span class="user-icon-buys"></span>
		<div class="event-content">
		<a href="/user/{{ event.OwnerUser.username}}/">
            {{ event.OwnerUser.first_name }}
        </a>
		{% trans "posted a new deal" %}
        <a href="/deal/{{event.attached_object.pk}}/">
            {{ event.attached_object.Item.Name }}
        </a>
		</div>
    {% endif %}

    {% if event.EventType == event_types|key:"Buy Deal" %}
		<span class="user-icon-buys"></span>
		<div class="event-content">
		<a href="/user/{{ event.OwnerUser.username}}/">
            {{ event.OwnerUser.profile.name }}
        </a>
		{% trans "bought a deal" %}
        <a href="/deal/{{event.attached_object.pk}}/">
            {{ event.attached_object.Item.Name }}
        </a>
		</div>
    {% endif %}

    </div>
    <div class="pd" title="{{ event.DatePublished|ISO8601 }}">{{ event.DatePublished }}</div>

</div>