{% load template_filters %}
{% load i18n %}

{% if detailed == 0  %}

	<div class="opinion">
		{% if experience.State == 0 %}<span class="user-icon-experiences-down"></span>{% else %}<span class="user-icon-experiences-up"></span>{% endif %}
		<div class="experience-content">
			<span><a href="/user/{{ experience.OwnerUser.username }}/">{{ experience.OwnerUser.name }}</a></span>
			<span>{% if experience.State == 0 %}{% trans "shouts a bad experience about" %}{% else %}{% trans "shouts a good experience about" %}{% endif %}</span>
			<span><a href="/user/{{ experience.AboutBusiness.username }}/">{{ experience.AboutBusiness.Name }}</a></span>
			<span> : </span>
			<span><a href="{% shout_link experience %}">{{ experience.Text }}</a></span>
		</div>
		<div class="pd" title="{{ experience.DatePublished|ISO8601 }}">{{ experience.DatePublished }}</div>
		<hr/>
	</div>

{% else %}{% if detailed == 1 %}
	<div class="experience-picture-contain pull-left">
		<div class="user-image pull-left">
			<img style="height: 95px; width: 95px;" class="round" src="{{ experience.OwnerUser.image|secure_url }}" alt="{{ experience.OwnerUser.name }}'s profile picture">
		</div>
		<div class="pd" title="{{ experience.DatePublished|ISO8601 }}">{{ experience.DatePublished }}</div>
	</div>
	{% if user.is_authenticated and not experience.isOwner  %}
		<span onclick="report_experience('{{ experience.pk }}')" class="report-user" title="{% trans "Report"%}"></span>
	{% else %}
		{% if user.is_authenticated and experience.canEdit %}
			<span onclick="edit_experience('{{experience.pk}}')" class="edit-user-exper" title="{% trans "Edit"%}" ></span>
		{% endif %}
	{% endif %}
	<div class="details-experience">
		<div class="user-name"><a href="/user/{{ experience.OwnerUser.username }}/" title="{{ experience.OwnerUser.name }}">{{ experience.OwnerUser.name }}</a></div>
		<span>shouts a {% if experience.State == 0 %}bad{% else %}good{% endif %} experience on <a href="/user/{{ experience.AboutBusiness.username }}/">{{ experience.AboutBusiness.Name }}</a></span>
		{% if experience.State == 0 %}<span class="user-icon-thumbdown pull-right"></span>{% else %}<span class="user-icon-thumbup pull-right"></span>{% endif %}

		<a class="experience-text" href="{% shout_link experience %}">{{ experience.Text }}</a>
		<span class="experience-comments" onclick="comments_on_experience('{{experience.pk}}','{{timestamp}}')">{% trans "Comment" %}</span> ·

		{% if experience.canShare %}
			<span class="share-experience" onclick="share_experience('{{experience.pk}}',this)">{% trans "Share" %}</span> ·
		{% endif %}

		<a class="experience-comment" onclick="comments_on_experience('{{experience.pk}}','{{timestamp}}')" >
			<label id="numberOfComments{{ experience.pk }}">{{ experience.commentsCount }}<i class="comment-icon"></i></label>
		</a>

		<a class="experience-share" onclick="users_shared_experience('{{ experience.pk }}')"  data-toggle="modal" data-target="#users_shared_experience_modal">
			<label id="numberOfSharedExps{{ experience.pk }}">{{ experience.sharedExpsCount }} <i class="share-icon"></i></label>
		</a>

		<div class="social_comments">
			<div class='comments'>
				<input id="{{ experience.pk }}" type="text" autocomplete="off" value="0" style="display:none">
			</div>

			{% if user.is_authenticated %}
				<form method="post" class="comment_on_experience_form" action="/comment_on_post/{{ experience.pk }}/">
					{% csrf_token %}
					{{ comment_form.as_p }}
					<input type="submit" value="comment"/>
				</form>
			{% else %}
				<a class="btn btn-primary" href="#signin" data-toggle="modal" data-target="#signin_modal">{% trans "Sign in to comment" %}</a>
			{% endif %}
		</div>
	</div>
	{% else %}{% if detailed == 2 %}
	{% if experience.State == 0 %}<span class="user-icon-experiences-down"></span>{% else %}<span class="user-icon-experiences-up"></span>{% endif %}
	<div class="business-experience">
		<a href="/user/{{ experience.OwnerUser.username }}/">{{ experience.OwnerUser.name }}</a>
		{% trans "posted" %}
		<a href="{% shout_link experience %}">{{ experience.Text }}</a>
		<div class="pd" title="{{ experience.DatePublished|ISO8601 }}">{{ experience.DatePublished }}</div>
	</div>
		<hr/>
{% endif%}
{% endif%}
{% endif%}
{#$('#{{experience.pk}}').val(0);#}