<h5>Filter Shouts</h5>
<ul class="inputs-list">
    <li>
        <label>
            <input class="filter_option" type="checkbox" value="buys" id="type_filter">
            <span>Buying</span>
        </label>
    </li>
    <li>
        <label>
            <input class="filter_option" type="checkbox" value="sells" id="type_filter">
            <span>Selling</span>
        </label>
    </li>
{#    <li>#}
{#        <label>#}
{#            <input  class="filter_option" type="checkbox" value="experiences" id="type_filter">#}
{#            <span>Experiences</span>#}
{#        </label>#}
{#    </li>#}
</ul>

<h5>Order Shouts</h5>
<ul class="inputs-list">
    <li>
        <label>
            <input class="filter_option" type="checkbox" value="time_order" id="order_filter">
            <span>Time</span>
        </label>
    </li>
    <li>
        <label>
            <input class="filter_option" type="checkbox" value="price_order" id="order_filter">
            <span>Price</span>
        </label>
    </li>
    <li>
        <label>
            <input  class="filter_option" type="checkbox" value="location_order" id="order_filter">
            <span>Location</span>
        </label>
    </li>
</ul>
<hr />
{#<ul id="filter_tag_list" class="inputs-list">#}
{#    {% for tag in tags %}#}
{#    <li>#}
{#        <label>#}
{#            <input class="filter_option" type="checkbox" value="{{ tag.pk }}" id="tag_filter">#}
{#            <span><a href="/tag/{{ tag.name }}/">{{ tag.name }}</a></span>#}
{#        </label>#}
{#    </li>#}
{#    {% endfor %}#}
{#    <hr />#}
{#    <div class="clearfix">#}
{#        <label>Filter by tags</label>#}
{#        <div class="input">#}
{#            <input  class = "span3" type="text" id="tag_filter_input" />#}
{#        </div>#}
{#    </div>#}
{#</ul>#}