{% load template_filters %}
    <div id="item{{ item.pk }}">
    <h4>item</h4>
    {{ item.name }} <br />
    {{ item.Description }} <br />
    {{ item.Price }} {{ item.Currency.Code }} <br />
    {{ item.DateCreated }} <br/>
    {% for image in item.images %}
        {% if forloop.counter0 == 0 %}
            <div class="round shout-images" rel="shout_{{ item.pk }}" href="{{ image|secure_url }}" style="background-image: url('{{ image|secure_url }}');">
            </div>
            <i class="icon-search"></i>
        {% else %}
            <a href="{{ image|secure_url }}" rel="shout_{{ item.pk }}" style="display: none;"></a>
        {% endif %}
    {% endfor %}

    {% if IsOwner %}
        <button onclick="delete_gallery_item('{{item.pk}}',this)" type="button" > Delete </button>
        <button onclick="shout_item('{{item.pk}}',this)" class="user-btn"  > <span class="count">shout item</span>  </button>
{#        <a id="shout{{ item.pk }}" href="#shout" data-toggle="modal" data-target="#shout_item_modal">Shout Now</a>#}
        <button onclick="edit_item('{{ item.pk }}')"  class="user-btn" > <span class="count">edit</span> </button>
    {% endif %}
    {% if not IsOwner %}
        <button onclick="report_item('{{ item.pk }}')" class="user-btn" > <span class="count">Report</span> </button>
    {% endif %}
    <br/><br/>
    </div>