{% extends "base.html" %}
{% load template_filters %}
{% load widget_tweaks %}
{% load i18n %}
{% load staticfiles %}

{% block styles_ %}
{% endblock %}
{% block before_page %}
	<div class="home-logo unselectable">
		{% trans "what will you shout today?" %}
	<br>
		<span class="home-logo-desc unselectable">{% trans "Region's 1st Social Market" %}</span>
	</div>
{% endblock %}
{% block content %}
    <div class="modal shout_modal" id="selling_modal">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
        </div>
        <div class="modal-title">
            {% trans "Selling something?" %}
        </div>
        <div class="modal-body">
            <div style="text-align: center;"><img src="{% static "img/modal-loading.gif"%}" alt=""></div>
        </div>
        <div class="modal-footer">
        </div>
    </div>
    <div class="modal shout_modal" id="dosh_modal">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
        </div>
        <div class="modal-title">
            {% trans "Want to make extra cash?" %}
        </div>
        <div class="modal-body">
            <div style="text-align: center;"><img src="{% static "img/modal-loading.gif"%}" alt=""></div>
        </div>
        <div class="modal-footer">
        </div>
    </div>
    <div class="modal shout_modal" id="hobby_modal">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
        </div>
        <div class="modal-title">
            {% trans "Looking for a new hobby?" %}
        </div>
        <div class="modal-body">
            <div style="text-align: center;"><img src="{% static "img/modal-loading.gif"%}" alt=""></div>
        </div>
        <div class="modal-footer">
        </div>
    </div>
    <div class="modal shout_modal" id="learn_modal">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
        </div>
        <div class="modal-title">
            {% trans "Want to learn new stuff?" %}
        </div>
        <div class="modal-body">
            <div style="text-align: center;"><img src="{% static "img/modal-loading.gif"%}" alt=""></div>
        </div>
        <div class="modal-footer">
        </div>
    </div>
    <div class="modal shout_modal" id="spending_modal">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
        </div>
        <div class="modal-title">
            {% trans "Feel like spending?" %}
        </div>
        <div class="modal-body">
            <div style="text-align: center;"><img src="{% static "img/modal-loading.gif"%}" alt=""></div>
        </div>
        <div class="modal-footer">
        </div>
    </div>
	<div class="home-container">
		<div class="box-container round dark-container shouts shadow">
			{% set alternate = 'True' %}
			{% include 'stream.html' %}
		</div>
		<div class="box-container white-container round shadow shouts-examples">
			<div class="examples-description">{% trans "What have you got to shout about?" %}</div>
			<div class="row">
				<a href="#selling" data-toggle="modal" data-target="#selling_modal" class="span-fourth round theme-green shadow">{% trans "Selling something?" %}</a>
				<a href="#dosh" data-toggle="modal" data-target="#dosh_modal" class="span-fourth round theme-grey shadow">{% trans "Want to make extra cash?" %}</a>
				<a href="#hobby" data-toggle="modal" data-target="#hobby_modal" class="span-fourth round theme-dark-grey shadow">{% trans "Looking for a new hobby?" %}</a>
				<a href="#learn" data-toggle="modal" data-target="#learn_modal" class="span-fourth round theme-green shadow">{% trans "Want to learn new stuff?" %}</a>
				<a href="#spending" data-toggle="modal" data-target="#spending_modal" class="span-fourth round theme-grey shadow">{% trans "Feel like spending?" %}</a>
			</div>
		</div>
{#        <a target="_blank" class="google-play-link" href="https://market.android.com/details?id=com.shoutit.android" title="Install Shoutit Android application from Google Play">#}
{#        </a>#}
	<div class="box-container white-container round shadow mobile_apps">
		<div class="mobile_title">{%  trans "Shoutit Apps" %}</div>
		<div class="mobile_logos_container">
		<a href="http://itunes.apple.com/us/app/id517719439" target="_blank"><span class="iphone_app_logo"></span><span>iPhone</span></a>
		<a href="http://play.google.com/store/apps/details?id=com.shoutit.android" target="_blank"><span class="android_app_logo"></span><span>Android</span></a>
		<a href="http://appworld.blackberry.com/webstore/content/105904" target="_blank"><span class="blackberry_app_logo"></span><span>BlackBerry</span></a>
		</div>
	</div>
	</div>
{% endblock %}
{% block scripts %}
	<script type="text/javascript" language="JavaScript">
		$(document).ready(function () {
            setup_modal('#selling_modal', '/modal/shout_sell/', '#selling', function () {
                $(this).find('#id_name').val('{% trans "Selling BMW 325i Coupe 2008" %}');
                $(this).find('#id_price').val('80000');
                $(this).find('#id_description').val('{% trans "Selling a bmw 325i coupe 2008 in mint condition. Full service history is available." %}');
//                $(this).find('#id_tags').importTags('autos bmw 325i 2008');
            });
            setup_modal('#dosh_modal', '/modal/shout_sell/', '#dosh', function () {
                $(this).find('#id_name').val('{% trans "Offering Piano Lessons for Kids" %}');
                $(this).find('#id_price').val('200');
                $(this).find('#id_description').val('{% trans "I offer piano lessons for your kids at your place or mine." %}');
//                $(this).find('#id_tags').importTags('piano lessons');
            });
            setup_modal('#hobby_modal', '/modal/shout_buy/', '#hobby', function () {
                $(this).find('#id_name').val('{% trans "Photography friends" %}');
                $(this).find('#id_price').val('0');
                $(this).find('#id_description').val('{% trans "Going to shoot animals in Dubai Zoo at 2pm , feel free to join" %}');
//                $(this).find('#id_tags').importTags('hobby zoo shooting photography');
            });
            setup_modal('#learn_modal', '/modal/shout_buy/', '#learn', function () {
                $(this).find('#id_name').val('{% trans "Looking for German language teacher" %}');
                $(this).find('#id_price').val('1500');
                $(this).find('#id_description').val('{% trans "I want someone who is able to teach me German language in a month as I am planning to take my masters there." %}');
//                $(this).find('#id_tags').importTags('teacher german');
            });
            setup_modal('#spending_modal', '/modal/shout_buy/', '#spending', function () {
                $(this).find('#id_name').val('{% trans "iPhone 4s" %}');
                $(this).find('#id_price').val('2500');
                $(this).find('#id_description').val('{% trans "Looking for a new iPhone 4s unlocked" %}');
//                $(this).find('#id_tags').importTags('new iphone4s unlocked');
            });
            var remove_data = function () {
                $(this).find('.modal-body').html('<div style="text-align: center;"><img src="{% static "img/modal-loading.gif"%}" alt=""></div>');
                $(this).removeAttr('data-loaded');
            };
            $('#selling_modal').on('hidden', remove_data);
            $('#dosh_modal').on('hidden', remove_data);
            $('#hobby_modal').on('hidden', remove_data);
            $('#learn_modal').on('hidden', remove_data);
            $('#spending_modal').on('hidden', remove_data);
			setup_colorbox();
		});
	</script>
{% endblock %}