{% load staticfiles %}
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.2//EN"
        "http://www.openmobilealliance.org/tech/DTD/xhtml-mobile12.dtd">
<html>
<head>
    <title>Mobile |{% if page_title %} {{ page_title }} | {% endif %} Shoutit</title>
    <link rel="stylesheet" href="{% static "css/mobile.css"%}" />
    <link type="image/png" rel="icon" href="{% static "img/icon.png"%}"/>
    <link rel="apple-touch-icon-precomposed" href="{% static "img/icon.png"%}" />
    <link rel="apple-touch-icon" href="{% static "img/icon.png"%}"/>

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"/>
    <meta name="HandheldFriendly" content="true"/>
    <meta name="MobileOptimized" content="320"/>
</head>
<body class="mobile-body">
    <div id="mobile-logo-cloud"></div>
    <div id="mobile-content">
        You're using your mobile to view Shoutit.<br /><br />
        {% if content %}
            We noticed that you listed:<br /><br />
            <p>
                "<b><i>{{ content|linebreaksbr }}</i></b>"
            </p><br />
        {% endif %}
        please use the following link (case sensitive) to access Shoutit from your computer and activate your account
        {% if link %}
            {% load template_filters %}
            <br />
            <h2>
                {{ link }}
            </h2>
        {% endif %}
        <hr style="border: 1px dashed;" />
        The mobile version along with mobile apps will be available soon.<br /><br />
        Please for the time being use your computer's browser to access Shoutit.<br /><br /><br />
        Sincerly, Shoutit team.<br />
    </div>
</body>
</html>