{% extends 'base.html' %}
{% load widget_tweaks %}
{% load staticfiles %}

{% block styles %}
{% endblock %}


{% block content %}
{#	main column#}
	<div class="span9 offset3">
		<div class="stream">
            {% include 'post.html' %}
            <hr />

{#			<form method="post" id='send_message_form'>#}
{#            {% csrf_token %}#}
{#                <h4>Send Message</h4>#}
{#                <div class="clearfix {% if form.text.errors %}error{% endif %}">#}
{#                    <label>Text</label>#}
{#                    <div class="input">#}
{#                        {{ form.text|attr:"class:xlarge" }}{% if form.text.errors %}{% for error in form.text.errors %}<span > {{ error }}</span>{% endfor %}{% endif %}#}
{#                    </div>#}
{#                </div>#}
{#                <input type="submit" value="Send Message" class="btn primary">#}
{#		    </form>#}

			<form method="post" id='send_message_form'>
			{% csrf_token %}
				<h4>Send Message to <a href="/user/{{ to_user }}/">{{ to_user }}</a> about his Shout above</h4>

				<div class="shout_message type-1 clearfix">
					<div class="shout_message_user_image">
						{% if user.is_authenticated %}
							<a href="/user/{{request.user.username }}/"><img src="/xhr/user/{{ request.user.username }}/picture/50/" alt="{{ request.user.username }}"></a>
						{% else %}
							<a><img src="{% static "img/shout_user_50x50.png"%}" alt="{{ request.user.username }}"></a>
						{% endif %}
					</div>
					<div class="shout_message_bubble">
						<div class="shout_message_body">
							<div class="shout_message_reply_text">
								{{ form.text }}
								{% if form.text.errors %}
									<br>
									{% for error in form.text.errors %}
										<span > {{ error }}</span>
									{% endfor %}
								{% endif %}
							</div>
							<input class="shout_message_reply_btn btn primary" type="submit" value="Send">
						</div>
					</div>
				</div>
			</form>

		</div>
	</div>
{% endblock %}

{% block scripts %}
    <script type='text/javascript'>
        $(document).ready(function () {
            $('form#send_message_form').submitAjaxily(function (data) {
                setTimeout("window.location = '" + data.data.next + "';", 1500);
				console.log('sent...');
            });
        });
    </script>

{% endblock %}