{% load template_filters %}
{% load i18n %}
<div class="shout-brief{% if shout.featured %} featured{% endif %}">
{#    <img class="shout-type-icon" title='{% if shout.type == 0 %}{% trans "Request" %}{% else %}{% trans "Offer" %}{% endif %}' src='/static/img/shout_{% if shout.type == 0 %}request{% else %}offer{% endif %}.png' />#}
{#	<img class="shout-type-icon" title='{% if shout.type == 0 %}{% trans "Request" %}{% else %}{% trans "Offer" %}{% endif %}' src='/static/img/shout_{% if shout.type == 0 %}request{% else %}offer{% endif %}{% if LANGUAGE_BIDI %}_rtl{% endif %}.png' />#}
	<a class="pull-left" href="{% shout_link shout %}">{% if shout.type == 0 %}<span class="user-icon-requests"></span>{% else %}<span class="user-icon-offers"></span>{% endif %}</a>
	<div class="shout-brief-contain">
		<div class="shout-brief-title"><a href="{% shout_link shout %}">{% if shout.featured %}<i class="icon-star"></i>{% endif %}{{ shout.item.name|title }}</a></div>
    	<div class="shout-brief-description">{{ shout.text|striptags|truncatewords:10|safe }}</div>
	</div>
</div>