 {% extends "base.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% load template_filters %}
{% block content %}
    <div class="box-container white-container round shadow" style="margin-left: auto; margin-right: auto; text-align: center;">
        <form method="post" id="shout_deal_form" action="/shout_deal/">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Send" />
        </form>
    </div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('form#shout_deal_form').submitAjaxily();
        });
    </script>
{% endblock %}