{% extends 'shout_in_stream.html' %}
{% load i18n %}
{% load template_filters %}
{% block shout_details %}
    <a data-target="#map_modal" href="#" data-toggle="modal">
        <img src="https://maps.googleapis.com/maps/api/staticmap?center={{ shout.Latitude }},{{ shout.Longitude }}&zoom=10&size=310x150&markers=icon:http%3A%2F%2Fgoo.gl%2F{% if shout.Type == 0 %}djrt7{% else %}sZCBD{% endif %}%7Csize:mid%7Ccolor:0x8AB736%7C{{ shout.Latitude }},{{ shout.Longitude }}&sensor=false&style=saturation:-87&style=feature:road|hue:0x55ff00|saturation:5|lightness:31&style=feature:water|lightness:-5&style=element:labels|visibility:simplified&style=feature:poi|visibility:simplified" />
    </a>
    <div>
        {% if shout.get_tags %}
            <div class="tags pull-{% if right %}right{% else %}left{% endif %} clear-{% if right %}right{% else %}left{% endif %}">
                <span class="tags">{% trans "Tags" %}</span>:
                {% for tag in shout.get_tags %}
                    {% if forloop.counter0 != 0 %} | {% endif %}
                    <a href="/tag/{{ tag.Name|urlencode }}/" title="{{ tag.Name }}">{{ tag.Name }}</a>
                {% endfor %}
            </div>
        {% endif %}
        {% if owner %}
            <div class="shout-controls pull-{% if right %}left{% else %}right{% endif %} clear-{% if right %}left{% else %}right{% endif %}">
{#                <a class="shout-renew"><i class="icon-arrow-up" title="Re-shout"></i></a>#}
                <a class="shout-edit" data-toggle="modal" data-target="#edit_shout_modal"><i class="icon-pencil" title="{% trans "Edit Shout" %}"></i></a>
                <a class="shout-delete"><i class="icon-trash" title="{% trans "Delete Shout" %}"></i></a>
            </div>
        {% endif %}
    </div>
{% endblock %}