{% extends "base.html" %}
{% load widget_tweaks %}
{% load template_filters %}

{% block content %}
  <form enctype="multipart/form-data" method="post" action="{{ request.path }}" id='signup_business_form'>
    {% csrf_token %}
    <div class="input-field">
      {#			<span>Business Name:</span>#}
      {{ tiny_business_form.name|attr:"placeholder:Business Name"|attr:"data-qtip-error-my:bottom right"|attr:"data-qtip-error-at:top left" }}
    </div>

    {% if not business %}
      <div class="input-field" id="category">
        {{ tiny_business_form.category }}
      </div>
    {% endif %}

    <div class="input-field">
      {#			<span>Email:</span>#}
      {{ form.email|attr:"placeholder:Email"|attr:"data-qtip-error-my:bottom right"|attr:"data-qtip-error-at:top left" }}
    </div>

    <div class="input-field">
      {#			<span>Phone:</span>#}
      {{ form.phone|attr:"placeholder:Phone" }}
    </div>

    <div class="input-field">
      {#			<span>Website:</span>#}
      {{ form.website|attr:"placeholder:Website" }}
    </div>

    <div class="input-field">
      {#			<span>Description:</span>#}
      {{ form.description|attr:"placeholder:Description" }}
    </div>
    <div>
      {% if not business %}
        <input type="text" id="input_search" class="noSubmit">
        </div>
        <div class="input-field" id="location">
          {{ tiny_business_form.location|attr:"style:display:none" }}
          <div class="input" id="business_map" style="width: 513px; height: 146px;"></div>
        </div>

        <div class="input-field" id="city">
          {{ tiny_business_form.city|attr:"style:display:none" }}
        </div>
        <div class="input-field" id="country">
          {{ tiny_business_form.country|attr:"style:display:none" }}
        </div>
        <div class="input-field" id="address">
          {{ tiny_business_form.address|attr:"style:display:none" }}
        </div>
      {% endif %}
    <div>
      <button class="btn btn-primary" type="submit">Sign up</button>
    </div>
    {#    <button class="btn primary" type="submit">Save Changes</button>#}
  </form>
{% endblock %}
{% block scripts %}
  <script type="text/javascript" language="javascript">
    $('form#signup_business_form').submitAjaxily(function (data) {
      if (redirect_after_login)
        redirect_by_response(data);
      else {
        $('body').trigger('signup_business_ok', [data.data.username]);
        redirect_after_login = true;
      }
    });

    $(document).ready(function () {
      var shout_map = new GoogleMap("#business_map", "location input");
      {% if not business %}
        {% if lat and lng %}
          shout_map.CreateShoutMap("input_search", "city input", "country input", "address input", {{  lat }}, {{  lng }}, "sell");
        {% else %}
          shout_map.CreateShoutMap("input_search", "city input", "country input", "address input", {{ default_location.latitude }}, {{ default_location.longitude }}, "sell");
        {% endif %}
      {% endif %}
    });


  </script>
{% endblock %}