{% extends "base.html" %}
{% load widget_tweaks %}
{% load template_filters %}

{% block content %}
    <form enctype="multipart/form-data" method="post" action="{{ request.path }}" id='signup_business_form'>
        {% csrf_token %}

        {% if business %}
            <div class="input-field">
            {{ form.name|attr:"placeholder:Business Name"|attr:"data-qtip-error-my:bottom right"|attr:"data-qtip-error-at:top left" }}
            </div>
        {% endif %}
        <div class="input-field">
{#			<span>Email:</span>#}
            {{ form.email|attr:"placeholder:Email"|attr:"data-qtip-error-my:bottom right"|attr:"data-qtip-error-at:top left" }}
        </div>
        <div class="input-field">
            {{ form.password|trans_attr:"placeholder:Password"|attr:"autocomplete:off" }}
        </div>
        <div class="input-field">
            {{ form.confirm_password|trans_attr:"placeholder:Password Again"|attr:"autocomplete:off" }}
        </div>
        
	<div>
        <button class="btn btn-primary" type="submit">Sign up</button>
	</div>
    {#    <button class="btn primary" type="submit">Save Changes</button>#}
    </form>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" language="javascript">
        $('form#signup_business_form').submitAjaxily(function (data) {
            if (redirect_after_login)
                redirect_by_response(data);
            else {
                $('body').trigger('signup_business_ok', [data.data.username]);
                redirect_after_login = true;
            }
        });

    </script>
{% endblock %}