{% load template_filters %}
{#    <div id="feed_updates">#}
{#    </div>#}

{% if brief %}
	{% for shout in shouts %}
		{% if alternate and forloop.counter|mod:2 == 0%}
			{% set right = 'True' %}
		{% else %}
			{% set right = None %}
		{% endif %}

		{% include 'shout_brief.html' %}
	{% endfor %}

{% else %}
	{% for shout in shouts %}
{#		{% if alternate %}#}
{#			{% if forloop.counter|mod:2 == 0%}#}
{#				{% set right = 'True' %}#}
{#			{% else %}#}
{#				{% set right = None %}#}
{#			{% endif %}#}
{#		{% else %}#}

{#			{% if shout.Type == 0 %}#}
{#				{% set right = 'True' %}#}
{#			{% else %}#}
{#				{% set right = None %}#}
{#			{% endif %}#}
{#		{% endif %}#}

        {% include 'shout_in_stream.html' %}
		{#	{% include 'shout_dispatcher.html' %}#}
		{#		<td>distance: {{ shout.distance }} KM</td>#}
		{#		<td>distance_per: {{ shout.distance_per }}</td>#}
		{#	</tr>#}
		{#	<tr>#}
		{#		<td>tag_affinity: {{ shout.tag_affinity }}</td>#}
		{#		<td>timevar: {{ shout.timevar }}</td>#}
		{#		<td>rank: {{ shout.rank }}</td>#}
		{#	</tr></table>#}

	{% endfor %}

{% endif %}