{% load template_filters %}
{% for post in posts %}
    {% if post.Type == constants|key:"offer" or post.Type == constants|key:"request" %}
        {% set shout = post %}
        {% include "shout_in_stream.html" %}
    {% endif %}
{#    {% if post.Type == constants|key:"Deal" %}#}
{#        {% set deal = post %}#}
{#        {% include "deal.html" %}#}
{#    {% endif %}#}
    {% if post.Type == constants|key:"Event" %}
        {% set event = post %}
		{% set user_stream = 1 %}
        {% include "event.html" %}
    {% endif %}
{% endfor %}
