{% load widget_tweaks %}
{% load template_filters %}
{% load i18n %}
<div class="container-fluid">
  <form method="post" id="shout_{{ method }}_form" class="shout_form" action="/shout/{{ shout_id }}/edit/">
    {% csrf_token %}
    {% if form %}
      <div class="divs-inline">
        <div class="input-field item-name">
          {{ form.name|trans_attr:"placeholder:what are you shouting about?"|attr:"data-qtip-error-my:bottom right"|attr:"data-qtip-error-at:top left" }}
        </div>
        <div class="input-field item-price">
          {{ form.price|trans_attr:"placeholder:for what price?"|attr:"data-qtip-my:top center"|attr:"data-qtip-at:bottom center"|attr:"data-qtip-error-my:bottom left"|attr:"data-qtip-error-at:top right" }}
        </div>
        <div class="input-field item-currency">
          {{ form.currency|trans_attr:"placeholder:currency"|attr:"data-qtip-my:left center"|attr:"data-qtip-at:right center"|attr:"data-qtip-error-my:bottom left"|attr:"data-qtip-error-at:top right" }}
        </div>
      </div>
      <div class="input-field">
        {{ form.description|trans_attr:"placeholder:description" }}
      </div>
      <div class="input-field">
        {{ form.tags }}
      </div>
      <div class="input-field" id="file-uploader">
        <noscript>
          <p>{% trans "Please enable JavaScript to use file uploader." %}</p>
        </noscript>
      </div>

      <input type="text" id="input_search_{{ method }}" class="noSubmit" placeholder="{% trans "Enter a location" %}">
      <div class="input-field" id="{{ method }}_location">
        {{ form.location|attr:"style:display:none" }}
        <div class="input" id="shout_map_{{ method }}" style="width: 513px; height: 146px;"></div>
      </div>

      <div class="input-field" id="{{ method }}_city">
        {{ form.city|attr:"style:display:none" }}
      </div>
      <div class="input-field" id="{{ method }}_country">
        {{ form.country|attr:"style:display:none" }}
      </div>
      <div class="input-field" id="{{ method }}_address">
        {{ form.address|attr:"style:display:none" }}
      </div>

      <button disabled="disabled" type="submit" class="btn btn-primary">{% trans "Save" %}</button>
    {% endif %}
  </form>
</div>
<script type="text/javascript" language="JavaScript">
  function delete_image(id) {
    $('#href_' + id).remove();
    $('#input_' + id).remove();
    $('#img_' + id).remove();
  }

  $(document).ready(function () {
    var box = $('.noSubmit');

    box.keypress(function (e) {
      var k = e.keyCode || e.which;
      if (k == 13) {
        e.preventDefault();
      }
    });

    $('form#shout_{{ method }}_form').data('fields_map', {
      id_tags: '#id_tags_tag'
    });
    $('form#shout_{{ method }}_form').submitAjaxilyAndRedirect();

    var id = 0;
    var uploader = new qq.FileUploader({
      action: "/upload/shout_{{ method }}/",
      element: $('form#shout_{{ method }}_form #file-uploader')[0],
      multiple: true,
      onComplete: function (id, fileName, responseJSON) {
        $('#ajax_loading').hide();
        $('form#shout_{{ method }}_form [type="submit"]').prop('disabled', false);
        if (responseJSON.success) {
          var img = $('<img id=img_' + id + ' src="' + responseJSON.url + '" title="' + fileName + '" alt="' + fileName + '" />');
          $('form#shout_{{ method }}_form #file-uploader').find('.qq-uploader .qq-upload-button').after(img);
          $('form#shout_{{ method }}_form').append('<input id=input_' + id + ' type="hidden" value="' + responseJSON.url + '" name="images"/>');
          $(img).after('<a id=href_' + id + ' onclick="delete_image(\'' + id + '\')">x</a>');
          id++;
        }
      },
      params: {
        'csrf_token': '{% csrf_token_value %}',
        'csrf_name': 'csrfmiddlewaretoken',
        'csrf_xname': 'X-CSRFToken'
      },
      onSubmit: function (id, fileName) {
        $('#ajax_loading').show();
        $('form#shout_{{ method }}_form [type="submit"]').prop('disabled', true);
      },
      allowedExtensions: ['jpg', 'jpeg', 'png', 'gif', 'bmp'],
      sizeLimit: 5 * 1024 * 1024
    });

    var img = null;
    {% for image in shout.GetImages %}
      img = $('<img id=img_' + id + ' src="{{ image.Image }}" />');
      $('form#shout_{{ method }}_form #file-uploader').find('.qq-uploader .qq-upload-button').after(img);
      $('form#shout_{{ method }}_form').append('<input id=input_' + id + ' type="hidden" value="{{ image.Image }}" name="images"/>');
      $(img).after('<a id=href_' + id + ' onclick="delete_image(\'' + id + '\')">x</a>');
      id++;
    {% endfor %}


    $('form#shout_{{ method }}_form .qq-upload-drop-area').remove();

    $('form#shout_{{ method }}_form .qq-upload-button').click(function () {
      $('form#shout_{{ method }}_form .qq-upload-button input[type="file"]').click();
      $('form#shout_{{ method }}_form .qq-upload-button input[type="file"]').show().focus().click().hide();
    });

    $('form#shout_{{ method }}_form #id_tags').tagsInput({
      autocomplete_url: '/xhr/search/tag/',
      autocomplete: {
        autoFocus: true, minLength: 2, delay: 300,
        source: function (request, response) {
          $.ajax({
            url: "/xhr/tag/",
            dataType: "json",
            data: {
              query: request.term
            },
            success: function (data) {
              data = data.data;
              response($.map(data, function (item) {
                return {
                  label: item,
                  value: item
                }
              }));
            }
          });
        }
      },
      onChange: function (obj, tag) {
        $('form#shout_{{ method }}_form #id_tags_tag').qtip('reposition');
      },
      height: '',
      width: '',
      interactive: true,
      delimiter: [' ', ','],
      defaultText: '{% trans "Add a keyword" %}',
      onAddTag: function (tag) {
        $('form#shout_{{ method }}_form #id_tags_tag').qtip('reposition');
      },
      onRemoveTag: function (tag) {
        $('form#shout_{{ method }}_form #id_tags_tag').qtip('reposition');
      },
      removeWithBackspace: true,
      minChars: 2,
      maxChars: 30, //if not provided there is no limit,
      placeholderColor: '#808080',
      max_tags: 6
    });

    $('form#shout_{{ method }}_form #id_tags_tag').attr('placeholder', '{% trans "Add a keyword       <br>Example:<br> bmw, Apple, apartment, white" %}');
    {% if LANGUAGE_BIDI %}
      $('form#shout_{{ method }}_form #id_name').attr('data-qtip-at', 'right center');
      $('form#shout_{{ method }}_form #id_name').attr('data-qtip-my', 'left center');
      $('form#shout_{{ method }}_form #id_tags_tag').attr('data-qtip-error-my', 'top right');
      $('form#shout_{{ method }}_form #id_tags_tag').attr('data-qtip-error-at', 'bottom left');
      $('form#shout_{{ method }}_form #id_tags_tag').attr('data-qtip-my', 'right center');
      $('form#shout_{{ method }}_form #id_tags_tag').attr('data-qtip-at', 'left center');
    {% else %}
      $('form#shout_{{ method }}_form #id_tags_tag').attr('data-qtip-error-my', 'top left');
      $('form#shout_{{ method }}_form #id_tags_tag').attr('data-qtip-error-at', 'bottom right');
      $('form#shout_{{ method }}_form #id_tags_tag').attr('data-qtip-my', 'left center');
      $('form#shout_{{ method }}_form #id_tags_tag').attr('data-qtip-at', 'right center');
    {% endif %}

    $('form#shout_{{ method }}_form #id_tags_tag').blur(function () {
      var auto = $('.ui-autocomplete:visible');
      if (auto.length == 0) {
        $('#id_tags').addTag($('#id_tags_tag').val(), {focus: false, max_tags: 5, unique: true});
      }
    });

    var shout_map = new GoogleMap("#shout_map_{{ method }}", "{{ method }}_location input");
    shout_map.CreateShoutMap("input_search_{{ method }}", "{{ method }}_city input", "{{ method }}_country input", "{{ method }}_address input", {{ shout.Latitude }}, {{ shout.Longitude }}, "{{ method }}");
  });
</script>