{% load i18n %}
{#todo: trigger fb and google js to render the buttons#}
<div class="hr-with-title">
  <span class="hr-title">{% trans "Are you on Facebook?" %}</span>
</div>
<div class="with-facebook">
  <a class="fbicon fb-login-button"></a>
</div>
<div class="hr-with-title">
  <span class="hr-title">{% trans "Are you on Google+?" %}</span>
</div>st
<div class="with-facebook">
  <a class="g-login-btn">
    <span class="g-signin"
          data-scope="https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/userinfo.email"
          data-clientid="935842257865-s6069gqjq4bvpi4rcbjtdtn2kggrvi06.apps.googleusercontent.com"
          data-redirecturi="postmessage"
          data-accesstype="offline"
          data-cookiepolicy="single_host_origin"
          data-theme="light"
          data-width="standard"
          data-approvalprompt="force"
          data-callback="signInCallback">
    </span>
  </a>
</div>
