{% load staticfiles %}
<table class="head-wrap" bgcolor="#99ca3b">
  <tr>
    <td></td>
    <td class="header container" align="">
      <div class="content">
        <table bgcolor="#99ca3b">
          <tr>
            <td>
              <a href="https://www.shoutit.com">
                <img src="{% static "email/logo.png" %}" alt="logo"/>
              </a>
            </td>
            <td align="right"><h6 class="collapse"></h6></td>
          </tr>
        </table>
      </div>
    </td>
    <td></td>
  </tr>
</table>
