{% extends "email/base.html" %}
{% load staticfiles %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  <div class="content">
    <table>
      <tr>
        <td>
          <h1 style="font-size:40px; font-family:Arial, Helvetica, sans-serif; color:#99ca3b; font-weight:bold;">
            Hello {{ name }},
          </h1>

          <p class="lead">You have requested to reset your password, your account details are:<br/>
            <b>Username</b>: {{ username }}<br/><br/>
          </p>

          <table bgcolor="">
            <tr>
              <td>
                <p class="callout">
                  To reset your password.<a href='{{ link }}'>Please click here. &raquo;</a>
                </p>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>

{% endblock %}
