{% extends "email/base.html" %}
{% load staticfiles %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  <div class="content">
    <table>
      <tr>
        <td>
          <h1 style="font-size:40px; font-family:Arial, Helvetica, sans-serif; color:#99ca3b; font-weight:bold;">
            Hello {{ name }},
          </h1>

          <p class="lead">Your have changed your email therefore your account is not verified.</p>

          <table bgcolor="">
            <tr>
              <td>
                <p class="callout">
                  To use Shoutit with full potential we need to verify your email.<a
                    href='{{ link }}'>Please click here to verify it. &raquo;</a>
                </p>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>

{% endblock %}
