{% extends "emaibase.html" %}
{% load staticfiles %}

{% block title %}Welcome to Shoutit!{% endblock %}

{% block content %}
  <div class="content">
    <table>
      <tr>
        <td>
          <h1 style="font-size:40px; font-family:Arial, Helvetica, sans-serif; color:#99ca3b; font-weight:bold;">
            Hi there! Welcome to Shoutit!
          </h1>
          <!-- A Real Hero (and a real human being) -->
          <p><img src="{% static "email/banner.jpg" %}" alt="banner"/></p>
          <!-- /hero -->
          <p>Shoutit is a Photo/video messaging application allowing users to take photos, record
            videos of the items and products they want to sell or buy. These videos and photographs
            are known as "shouts". Users then upload the shouts into the shoutit marketplace
            allowing for buyers and sellers to connect with each other in their local community.
            Shoutit is the fastest, easiest way to share and offer what you want to sell or buy.</p>
        </td>
      </tr>
    </table>
  </div>

  <div class="content">
    <table bgcolor="">
      <tr>
        <td>
          <p class="callout large">
            Join the easiest and most effective marketplace ever. <a href='{{ link }}'>Download Shoutit App Now!</a>
          </p>
      </tr>
    </table>
  </div>
{% endblock %}

