<div class="content">
  <table bgcolor="">
    <tr>
      <td class="small" width="30%" style="vertical-align: top; padding-right:10px;"><img
          src="{% static "email/pic1.jpg" %}" alt="pic1"/></td>
      <td>
        <h4>Title Ipsum
          <small>This is a note.</small>
        </h4>
        <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. </p>
        <a class="btn">Read More</a></td>
    </tr>
  </table>
</div>
