<div class="content">
  <table>
    <tr>
      <td>
        <h1 style="font-size:40px; font-family:Arial, Helvetica, sans-serif; color:#99ca3b; font-weight:bold;">
          Hi! Welcome to Shoutit!</h1>

        <!-- A Real Hero (and a real human being) -->

        <p><img src="{% static "email/banner.jpg" %}" alt="banner"/></p>

        <!-- /hero -->

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
      </td>
    </tr>
  </table>
</div>