{% load staticfiles %}
<div class="content">
  <table bgcolor="#343837">
    <tr>
      <td>
        <!-- social & contact -->
        <table bgcolor="#343837" class="social" width="100%">
          <tr>
            <td>
              <!--- column 1 -->
              <div class="column">
                <table bgcolor="#343837" cellpadding="" align="left">
                  <tr>
                    <td>
                      <h5 class=""
                          style="color:#FFF; font-size:18px; font-family:Arial, Helvetica, sans-serif; font-weight:bold;">
                        Like us on
                      </h5>
                      <p class="">
                        <a href="https://www.facebook.com/Shoutitcom" class="">
                          <img src="{% static "email/fb.jpg" %}" alt="fb">
                        </a>
                      </p>
                    </td>
                  </tr>
                </table>
                <!-- /column 1 -->
              </div>
              <!--- column 2 -->
              <div class="column">
                <table bgcolor="#343837" cellpadding="" align="left">
                  <tr>
                    <td>
                      <h5 class=""
                          style="color:#FFF; font-size:18px; font-family:Arial, Helvetica, sans-serif; font-weight:bold;">
                        Download Shoutit Apps
                      </h5>

                      <p>
                        <a href="https://play.google.com/store/apps/details?id=com.shoutit.app.android" style="margin-right:5px;">
                          <img src="{% static "email/appbtn1.jpg" %}" alt="app1"/>
                        </a>
                        <a href="https://itunes.apple.com/us/app/shoutit-app/id947017118">
                          <img src="{% static "email/appbtn2.jpg" %}" alt="app2"/>
                        </a>
                      </p>
                    </td>
                  </tr>
                </table>
                <!-- /column 2 -->
              </div>
              <div class="clear"></div>
            </td>
          </tr>
        </table>
        <!-- /social & contact -->
      </td>
    </tr>
  </table>
</div>
