{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" >
<html>
<head>
  <!-- If you delete this meta tag, the ground will open and swallow you. -->
  <meta name="viewport" content="width=device-width"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="">

  <title>{% block title %}Shoutit{% endblock %}</title>
  {% include "emailstyle.html" %}
</head>

<body bgcolor="#FFFFFF" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0">

<!-- HEADER -->
{% include "emailheader.html" %}
<!-- /HEADER -->

<!-- BODY -->
<table class="body-wrap" bgcolor="">
  <tr>
    <td></td>
    <td class="container" align="" bgcolor="#FFFFFF">
      {% block content %}{% endblock %}
      {% include "emailcontentfooter.html" %}
    </td>
    <td></td>
  </tr>
</table>
<!-- /BODY -->

<!-- FOOTER -->
{% include "emailfooter.html" %}
<!-- /FOOTER -->
</body>
</html>