<p>
    Hello {{ name }}, you have requested to recover your password, your account details are:<br />
    <b>Name</b>: {{ name }}<br />
    <b>Username</b>: {{ username }}<br /><br />
    <a href='{{ link }}'>Click here to recover your password on Shoutit</a>.<br />
</p>
<hr />
<p>
    Please do not reply to this email, your message won't be read or processed.<br />
    <br />
    <br />
    <a href="http://www.shoutit.com">Shoutit</a><br />
    <a href='mailto:info@shout.com'>info@shout.com</a>
</p>