{% load template_filters %}
{% load i18n %}
{% load staticfiles %}

<html lang="{{ LANGUAGE_CODE }}">
<head>
	<title>Shout & Win</title>
		<link type="text/css" rel='stylesheet' href="{% static "css/contest.css"%}" />
	<script type="text/javascript" language="JavaScript" src="{% static "js/jquery-1.7.1.js"%}"></script>
	<script type="text/javascript" language="JavaScript" src="{% static "js/bootstrap.js"%}"></script>

	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-16237577-7']);
		_gaq.push(['_trackPageview']);
		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
</head>
<body class="page-{{ page_num }}">

{#	{% if page.liked %}#}
	{% if page_num == 1 and page and not page.liked %}
		<img src="{% static "images/like_first.jpg" alt="Shoutit"%}">
	{% else %}
	{#Base Elements#}
		<div class="contest_bg">
		<ul class="contest_taps">
{#		{{ page_num }}#}
			<li {% if page_num == 1 %} class="selected_tap"{% endif %}><a href="/fb/comp_page/1/?page=1">How To Enter</a></li>
			<li {% if page_num == 2 %} class="selected_tap"{% endif %}><a href="/fb/comp_page/1/?page=2">Conditions</a></li>
{#			<li {% if page_num == 3 %} class="selected_tap"{% endif %}><a href="/fb/comp_page/1/?page=3">Qualified</a></li>#}
		</ul>
	{#Base Content#}
		<div class="box-container white-container round shadow contest">
			{% block content %}{% endblock %}
		</div>
		<span class="win_title">Win an iPad 3!</span>
		<span class="win_desc">Follow these simples steps to enter our exclusive competition for Shoutit users and you could win a brand new iPad 3. Don’t miss out – enter now!</span>
		<a class="footer_copyright" href="https://www.shoutit.com/browse/">2012 © Shoutit</a>
		</div>
	{% endif %}

	<div id="fb-root"></div>
	<script>
		window.fbAsyncInit = function() {
			FB.init({
				appId      : '233904736709818',
				status     : false,
				cookie     : true,
				xfbml      : true,
				oauth      : true
			});
			FB.Canvas.setSize({ width: 810, height: 1000 });
		};
		(function(d){
			var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
			js = d.createElement('script'); js.id = id; js.async = true;
			js.src = "//connect.facebook.net/en_US/all.js";
			d.getElementsByTagName('head')[0].appendChild(js);
		}(document));

	</script>
	</body>
</html>