{% extends "fb/comp_base.html" %}

{% block content %}

	<span class="steps_title">It’s easy! All you have to do is:</span>
	<div class="first_step">
		<span class="step_num"></span>
		<span class="step_desc">Log in to Shoutit via your Facebook account</span>
		<span class="step_arrow"></span>
		<a class="fb-login-button step_connect"></a>
	</div>
	<div class="second_step">
		<span class="step_num"></span>
		<span class="step_desc">Share this contest with your friends</span>
		<span class="step_arrow"></span>
		<a class="fb-share-button step_share"></a>
	</div>
	<div class="third_step">
		<span class="step_num"></span>
		<span class="step_desc">Done, You are qualified</span>
		<span class="step_arrow"></span>
		<a class="" target="_blank" href="https://www.shoutit.com">visit Shoutit.com</a>
	</div>

	<script>
		var win1, win2;
		var FbId = 0;
		var UserName = '';
		var SahreId = 0;

		function FBConnectDone(data, fb_id) {
			win1.close();
			FbId = fb_id;
			UserName = data.data.username;
			$('.first_step').addClass('done');
		}

		function xxx(x){
			alert(x);
		}
		function FBShareDone(data) {
			win2.close();
			if (data && data.post_id) {
				SahreId = data.post_id;

				$.ajax({
					url: '/fb/comp_add/1/'+UserName+'/'+FbId+'/'+SahreId+'/',
					success: function (res) {
						$('.second_step').addClass('done');
						$('.third_step').show();
					}
				});

				//Post was published. Check if it was made public or not
//				FB.api('/'+SahreId, function(response) {
//					if (response) {
//					}
//					else
//						alert('You should share it as public, please share again');
//				});
			} else {
				//Post was not published.
				alert('Please make sure you share to enter the contest');
			}
		}

		$(document).ready(function(){

			$('.fb-login-button').click(function () {
				win1 = window.open("/fb/connect/","_blank","location=yes,height=150,width=270");
				win1.onload = function() { win1.RunCallbackFunction = FBConnectDone; };
			});

			$('.fb-share-button').click(function () {
				if (!$('.first_step').hasClass('done')){
					alert('Please Connect your account first');
				}
				else {
					win2 = window.open("/fb/share/","_blank","location=yes,height=150,width=270");
					win2.onload = function() { win2.RunCallbackFunction = FBShareDone; };
				}
			});

			{% if joined %}
			$('.first_step').addClass('done');
			$('.second_step').addClass('done');
			$('.third_step').show();
			{% endif %}
		});
	</script>

{% endblock %}