{% extends "fb/comp_base.html" %}

{% block content %}
	<ol>
		<li>You will need to be a registered Facebook user and have your own profile on www.shoutit.com</li>
		<li>Spread the word - sharing this page with your friends will increase your chances of winning</li>
		<li>Only participants from these countries will be qualified: UAE, Qatar, KSA, Lebanon, Jordan, Egypt, USA, UK, Canada. Even if it said you are qualified while you are from another country.</li>
		<li>Contest will end on June 15th, 2012 and the Winner will be announced by then.</li>
		<li>You should have a valid address in the countries we mentioned above for us to deliver your prize.</li>
	</ol>
{% endblock %}