{% extends "fb/comp_base.html" %}

{% block content %}




	<div class="fb_user_header"><div class="header_name">Name</div><div class="header_country">country</div><div class="header_shouts">Shouts</div></div>
	<ul class="fb_user_list">
		{% for shouter in shouters %}
		<li><img class="user_img" src=""/><div class="user_name">{{ shouter.user.email }}</div><div class="user_country">UAE</div><div class="user_shouts">2</div></li>
		{% endfor %}
	</ul>
	<ul class="user_pager">
		<span class="users_prev_page"></span>
		<li class="selected_users_page"><a href="#">1</a></li>
		<li><a href="#">2</a></li>
		<li><a href="#">3</a></li>
		<li><a href="#">4</a></li>
		<li><a href="#">5</a></li>
		<span class="users_next_page"></span>
	</ul>
	</div>
{% endblock %}