{% load i18n %}
{% load template_filters %}
{% load widget_tweaks %}
    <form id='confirm_business_form' method="post" action="{{ request.path }}" class="signup clearfix">
        {% csrf_token %}
        <div class="input-field">
            {{ form.name|attr:"placeholder:Business Name" }}
        </div>

        <div class="input-field">
            {{ form.email|trans_attr:"placeholder:Email" }}
        </div>
        <div class="input-field">
            {{ form.phone|trans_attr:"placeholder:Phone" }}
        </div>

        <div class="input-field">
            {{ form.username|trans_attr:"placeholder:Username" }}
        </div>

        <div class="input-field">
        {{ form.password|trans_attr:"placeholder:Password"|attr:"autocomplete:off" }}
        </div>
        <div class="input-field">
            {{ form.confirm_password|trans_attr:"placeholder:Password Again"|attr:"autocomplete:off" }}
        </div>

        <div class="input-field">
            <div id="file-uploader">
                <noscript>
                    <p>Please enable JavaScript to use file uploader.</p>
                </noscript>
            </div>
        </div>

        {{ form.tokentype }}

        <button class="btn btn-primary" type="submit">{% trans "Confirm" %}</button>

    </div>
    </form>
{% block scripts %}
    <script type="text/javascript" language="javascript">
        $('form#confirm_business_form').submitAjaxily(function (data) {
            if (redirect_after_login)
                redirect_by_response(data);
            else {
                $('body').trigger('confirm_business_ok', [data.data.username]);
                redirect_after_login = true;
            }
        });
    </script>
{% endblock %}