{% load widget_tweaks %}
{% load template_filters %}
{% load i18n %}
<div class="container-fluid">
    <form method="post" id="edit_item_form" class="shout_form" action="/edit_item/{{ item_id }}/">
        {% csrf_token %}
        {% if form %}
            <div class="divs-inline">
                <div class="input-field item-name">
                    {{ form.name|trans_attr:"placeholder:Name"|attr:"data-qtip-error-my:bottom right"|attr:"data-qtip-error-at:top left" }}
                </div>
                <div class="input-field item-price">
                    {{ form.price|trans_attr:"placeholder:price"|attr:"data-qtip-my:top center"|attr:"data-qtip-at:bottom center"|attr:"data-qtip-error-my:bottom left"|attr:"data-qtip-error-at:top right"}}
                </div>
                <div class="input-field item-currency">
                    {{ form.currency|trans_attr:"placeholder:currency"|attr:"data-qtip-my:left center"|attr:"data-qtip-at:right center"|attr:"data-qtip-error-my:bottom left"|attr:"data-qtip-error-at:top right"}}
                </div>
            </div>
            <div class="input-field">
                {{ form.description|trans_attr:"placeholder:description" }}
            </div>
           <button disabled="disabled" type="submit" class="btn btn-primary">{% trans "edit" %}</button>
        {% endif %}
    </form>
</div>
<script type="text/javascript" language="JavaScript">
    function delete_image(id){
        $('#href_'+id).remove();
        $('#input_'+id).remove();
        $('#img_'+id).remove();
    }
	$(document).ready(function(){
        var id = 0;
        $('form#edit_item_form').submitAjaxily();
        var img = null;
    });
</script>