{% load widget_tweaks %}
{% load template_filters %}
{% load i18n %}
<div class="container-fluid">
    <form method="post" id="edit_item_form" class="shout_form" action="/edit_item/{{ item_id }}/">
        {% csrf_token %}
        {% if form %}
            <div class="divs-inline">
                <div class="input-field item-name">
                    {{ form.name|trans_attr:"placeholder:Name"|attr:"data-qtip-error-my:bottom right"|attr:"data-qtip-error-at:top left" }}
                </div>
                <div class="input-field item-price">
                    {{ form.price|trans_attr:"placeholder:price"|attr:"data-qtip-my:top center"|attr:"data-qtip-at:bottom center"|attr:"data-qtip-error-my:bottom left"|attr:"data-qtip-error-at:top right"}}
                </div>
                <div class="input-field item-currency">
                    {{ form.currency|trans_attr:"placeholder:currency"|attr:"data-qtip-my:left center"|attr:"data-qtip-at:right center"|attr:"data-qtip-error-my:bottom left"|attr:"data-qtip-error-at:top right"}}
                </div>
            </div>
            <div class="input-field">
                {{ form.description|trans_attr:"placeholder:description" }}
            </div>
            <div class="input-field" id="file-uploader">
                <noscript>
                    <p>{% trans "Please enable JavaScript to use file uploader." %}</p>
                </noscript>
            </div>

           <button disabled="disabled" type="submit" class="btn btn-primary">{% trans "edit" %}</button>
        {% endif %}
    </form>
</div>
<script type="text/javascript" language="JavaScript">
    function delete_image(id){
        $('#href_'+id).remove();
        $('#input_'+id).remove();
        $('#img_'+id).remove();
    }
	$(document).ready(function(){
        var id = 0;
        $('form#edit_item_form').submitAjaxily();
        var uploader = new qq.FileUploader({
            action: "/upload/shout_item/",
            element: $('#file-uploader')[0],
            multiple: true,
            onComplete: function( id, fileName, responseJSON ) {
                $('#ajax_loading').hide();
                $('form#item_form [type="submit"]').prop('disabled', false);
                if (responseJSON.success) {
                    var img = $('<img id=img_'+id+' src="' + responseJSON.url + '" title="' + fileName + '" alt="' + fileName + '" />');
                    $('#file-uploader').find('.qq-uploader .qq-upload-button').after(img);
                    $('form#edit_item_form').append('<input id=input_'+id+' type="hidden" value="' + responseJSON.url + '" name="item_images"/>');
                    $(img).after('<a id=href_'+id+' onclick="delete_image(\''+id+'\')">x</a>');
                    id++;
                }
            },
            params: {
                'csrf_token': '{% csrf_token_value %}',
                'csrf_name': 'csrfmiddlewaretoken',
                'csrf_xname': 'X-CSRFToken'
            },
            onSubmit: function(id, fileName){
                $('#ajax_loading').show();
                $('form#item_form [type="submit"]').prop('disabled', true);
            },
            allowedExtensions: ['jpg', 'jpeg', 'png', 'gif', 'bmp'],
            sizeLimit: 5 * 1024 * 1024
        });

        var img = null;
        {% for image in images %}
            img = $('<img id=img_'+id+' src="{{ image }}" />');
            $('form#edit_item_form #file-uploader').find('.qq-uploader .qq-upload-button').after(img);
            $('form#edit_item_form').append('<input id=input_'+id+' type="hidden" value="{{ image }}" name="item_images"/>');
            $(img).after('<a id=href_'+id+' onclick="delete_image(\''+id+'\')">x</a>');
            id++;
        {% endfor %}

    });
</script>