{% load widget_tweaks %}
{% load template_filters %}
{% load i18n %}
<p>{% trans "Please enter your username or email address and we will send you an email with instructions on how to recover your account." %}</p>
<form id='recover_form' action="/recover/" method="post">
    {% csrf_token %}
    <div class="input-field">
        {{ form.username_or_email|trans_attr:"placeholder:Username or Email" }}
    </div>
    <button type="submit" class="btn btn-primary">{% trans "send" %}</button>
</form>
<script type="text/javascript" language="JavaScript">
    $('#recover_form').submitAjaxilyAndRedirect();
</script>