{% load template_filters %}
{% load i18n %}
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="shout-logo-white pull-left" href="/"></a>
      <ul class="nav">
        <li><a id='show_notification' href="/learnmore/"><i class="learn-more-icon"></i> {% trans "Learn More" %}</a></li>
      </ul>
      <ul class="nav pull-right">
        <li><a href="#shout" data-toggle="modal" data-target="#shout_modal"><i class="shout-icon"></i> {% trans "Shout Now" %}</a></li>
        {% if user.is_authenticated %}
          <li><a href="/messages/"><i class="icon-envelope icon-white"></i></a></li>
          <li><a href="/notifications/" class="notification-icon">
            <i class="notifications-icon"></i> <span class="notification-count"></span>
          </a></li>
          <li><a href="/user/{{ request.user.username }}/" style="float: left; display: inline-block; height: 23px; padding: 8px 5px 9px 10px;">
            <img class="pull-left Profile" style="width: 23px; height: 23px;" src="{{ request.user.image|thumbnail:32|secure_url }}">
            <span style="margin-left: 5px; line-height: 23px;">{{ user.name }}</span>
          </a></li>
          <li class="dropdown">
            <a href="#" data-toggle="dropdown"><b class="caret dropdown-toggle" ></b></a>
            <ul class="dropdown-menu">
              <li><a href="/user/{{ request.user.username }}/"><i class="icon-user"></i> {% trans "View Profile" %}</a></li>
              {% if user.is_active %}
                {% if user.profile  %}
                  <li><a href="/user/{{ request.user.username }}/#edit" {% if request.path == "/user/"|add:request.user.username|add:"/" %} data-toggle="modal" data-target="#edit_profile_modal"{% endif %}><i class="icon-pencil"></i> {% trans "Edit Profile" %}</a></li>
                {% else  %}
                  <li><a href="/user/{{ request.user.username }}/#edit" {% if request.path == "/user/"|add:request.user.username|add:"/" %} data-toggle="modal" data-target="#edit_bprofile_modal"{% endif %}><i class="icon-pencil"></i> {% trans "Edit Profile" %}</a></li>
                {% endif %}
              {% else %}
                <li><a href="/user/{{ request.user.username }}/#reactivate" data-toggle="modal" data-target="#resend_activation_modal"><i class="icon-pencil"></i> {% trans "Activate" %}</a></li>
              {% endif %}
              {% if user.profile  %}
                <li><a href="#" id="ShowMap" data-toggle="modal" data-target="#MapModal" title="Click to change your city"><i class="icon-map-marker"></i> {% if user.profile.city != "" %}[{{user.profile.city}}]{% endif %}</a></li>
              {% endif  %}
              <li class="divider"></li>
              <li><a id="signout_link" href="/signout/"><i class="icon-off"></i> {% trans "Sign Out" %}</a></li>
            </ul>
          </li>
        {% else %}
          {#                    <li><a href="#signup" data-toggle="modal" data-target="#signup_modal"> {% trans "Sign Up" %}</a></li>#}
          <li><a class="fbicon fb-login-button"></a></li>
          <li><a class="g-login-btn">
                      <span class="g-signin"
                            data-scope="https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/userinfo.email"
                            data-clientid="935842257865-s6069gqjq4bvpi4rcbjtdtn2kggrvi06.apps.googleusercontent.com"
                            data-redirecturi="postmessage"
                            data-accesstype="offline"
                            data-cookiepolicy="single_host_origin"
                            data-theme="light"
                            data-width="standard"
                            data-approvalprompt="force"
                            data-callback="signInCallback">
                      </span>
          </a>
          </li>
          {#                    <li><a href="#signin" data-toggle="modal" data-target="#signin_modal"> {% trans "Sign In" %}</a></li>#}
        {% endif %}
      </ul>
      <div class="nav-collapse"></div>
    </div>
  </div>
</div>

