{% load i18n %}
{% load template_filters %}
{% load widget_tweaks %}
    <b>{% trans "You haven't activated your account yet!" %}</b><br />{% trans "If you haven't received the activation message on your email address, please type the address you want to receive the activation message on here and click send." %}
    <form id='resend_activation_form' method="post" action="{{ request.path }}">
        {% csrf_token %}
        <div class="input-field">
            {{ form.email|trans_attr:"placeholder:email"|attr:"autocomplete:off" }}
        </div>
        {{ form.username }}
        <button type="submit" class="btn btn-primary">{% trans "Send" %}</button>
    </form>
{% block scripts %}
    <script type="text/javascript" language="javascript">
        $('form#resend_activation_form').submitAjaxily(function (data) {
            if (redirect_after_login)
                redirect_by_response(data);
            else {
                $('body').trigger('activate_ok', [data.data.username]);
                redirect_after_login = true;
            }
        });
    </script>
{% endblock %}