{% load widget_tweaks %}
{% load template_filters %}
{% load i18n %}
<div class="container-fluid">
  <form method="post" id="shout_{{ method }}_form" class="shout_form" action="/shout/{{ method }}/">
    {% csrf_token %}
    {% if form %}
      <div class="divs-inline">
        <div class="input-field item-name">
          {{ form.name|trans_attr:"placeholder:What are you shouting about?"|attr:"data-qtip-error-my:bottom right"|attr:"data-qtip-error-at:top left" }}
        </div>
        <div class="input-field item-price">
          {{ form.price|trans_attr:"placeholder:For what price?"|attr:"data-qtip-my:top center"|attr:"data-qtip-at:bottom center"|attr:"data-qtip-error-my:bottom left"|attr:"data-qtip-error-at:top right" }}
        </div>
        <div class="input-field item-currency">
          {{ form.currency|trans_attr:"placeholder:Currency"|attr:"data-qtip-my:left center"|attr:"data-qtip-at:right center"|attr:"data-qtip-error-my:bottom left"|attr:"data-qtip-error-at:top right" }}
        </div>
      </div>
      <div class="input-field">
        {{ form.description|trans_attr:"placeholder:Description" }}
      </div>
      <div>
        <ul class="item-category">
          {% for category in categories %}
            <li class="btn">{% trans category %}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="input-field">
        {{ form.tags }}
      </div>
      <input type="text" id="input_search_{{ method }}" class="noSubmit" placeholder="{% trans "Enter a location" %}">
      {% if fb_access_token %}
        <div class="shout-on-fb">
          <label>{% trans "Also shout on " %}</label>
          <input type="checkbox" name="facebook-shout" checked="" data-selected="true" data-access-token="{{ fb_access_token }}">
          <span class="user-fb"></span>
        </div>
      {% endif %}
      <div class="input-field" id="{{ method }}_location">
        {{ form.location|attr:"style:display:none" }}
        <div class="input" id="shout_map_{{ method }}" style="width: 513px; height: 146px;"></div>
      </div>

      <div class="input-field" id="{{ method }}_city">
        {{ form.city|attr:"style:display:none" }}
      </div>
      <div class="input-field" id="{{ method }}_country">
        {{ form.country|attr:"style:display:none" }}
      </div>
      <div class="input-field" id="{{ method }}_address">
        {{ form.address|attr:"style:display:none" }}
      </div>

      <button disabled="disabled" type="submit" class="btn btn-primary">{% trans "Shout It!" %}</button>
    {% endif %}
  </form>
</div>
<script type="text/javascript" language="JavaScript">
  $(document).ready(function () {

    var shout_on_fb = $('.shout-on-fb input[name=facebook-shout]');
    shout_on_fb.click(function () {
      if ($(this).is(':checked')) {
        $(this).attr('data-selected', 'true');
      } else {
        $(this).attr('data-selected', 'false');
      }
    });

    var box = $('.noSubmit');
    var category_count_val = 0;
    box.keypress(function (e) {
      var k = e.keyCode || e.which;
      if (k == 13) {
        e.preventDefault();
      }
    });

    $('form#shout_{{ method }}_form').data('fields_map', {
      id_tags: '#id_tags_tag'
    });
    {#        $('form#shout_{{ method }}_form').submitAjaxilyAndRedirect();#}
    $('form#shout_{{ method }}_form').submitAjaxily(function (shoutit_data) {
      // Facebook Activity Post
      if (shout_on_fb.attr('data-selected') == 'true') {
        $.ajax({
          url: "https://graph.facebook.com/me/shoutitcom:shout",
          type: "POST",
          dataType: 'json',
          context: shoutit_data,
          data: {"access_token": shout_on_fb.attr('data-access-token'), "{{ method_og_name }}": shoutit_data.data.next},

          success: function (fb_data, textStatus, jqXHR) {
//						console.log('success');
//						console.log(fb_data);
            redirect_by_response(this);
          },
          error: function (fb_data, textStatus, jqXHR) {
//						console.log('error');
//						console.log(fb_data);
            redirect_by_response(this);
          }
        });
      }
      // Redirect to Shout
      else {
        redirect_by_response(shoutit_data);
      }
    });

    $('#id_tags').tagsInput({
      autocomplete_url: '/xhr/search/tag/',
      autocomplete: {
        autoFocus: true, minLength: 2, delay: 300,
        source: function (request, response) {
          $.ajax({
            url: "/xhr/tag/",
            dataType: "json",
            data: {
              query: request.term
            },
            success: function (data) {
              var tags = data.data.tags;
              response($.map(tags, function (item) {
                return {
                  label: item.name,
                  value: item.name
                }
              }));
            }
          });
        }
      },
      onChange: function (obj, tag) {
        $('#id_tags_tag').qtip('reposition');
      },
      height: '',
      width: '',
      interactive: true,
      delimiter: ' ',
//			delimiter: [' ',','],
      defaultText: '{% trans "Add a keyword" %}',
      onAddTag: function (tag) {
        $('#id_tags_tag').qtip('reposition');
      },
      onRemoveTag: function (tag) {
        $('#id_tags_tag').qtip('reposition');
      },
      removeWithBackspace: true,
      minChars: 2,
      maxChars: 30, //if not provided there is no limit,
      placeholderColor: '#808080'
//            max_tags:6
    });

    $('#id_tags_tag').attr('placeholder', '{% trans "Add a keyword       <br>Example:<br> bmw, Apple, apartment, white" %}');
    {% if LANGUAGE_BIDI %}
      $('#id_name').attr('data-qtip-at', 'right center');
      $('#id_name').attr('data-qtip-my', 'left center');
      $('#id_tags_tag').attr('data-qtip-error-my', 'top right');
      $('#id_tags_tag').attr('data-qtip-error-at', 'bottom left');
      $('#id_tags_tag').attr('data-qtip-my', 'right center');
      $('#id_tags_tag').attr('data-qtip-at', 'left center');
    {% else %}
      $('#id_tags_tag').attr('data-qtip-error-my', 'top left');
      $('#id_tags_tag').attr('data-qtip-error-at', 'bottom right');
      $('#id_tags_tag').attr('data-qtip-my', 'left center');
      $('#id_tags_tag').attr('data-qtip-at', 'right center');
    {% endif %}
//        $('#id_tags_tag').blur(function () {
//            var auto = $('.ui-autocomplete:visible');
//            if (auto.length == 0) {
//                $('#id_tags').addTag($('#id_tags_tag').val(), {focus : false, max_tags : 5, unique : true});
//            }
//        });

    var shout_map = new GoogleMap("#shout_map_{{ method }}", "{{ method }}_location input");
    {% if request.user.is_authenticated %}
      shout_map.CreateShoutMap("input_search_{{ method }}", "{{ method }}_city input", "{{ method }}_country input", "{{ method }}_address input", {{ user.latitude }}, {{ user.longitude }}, "{{ method }}");
    {% else %}
      shout_map.CreateShoutMap("input_search_{{ method }}", "{{ method }}_city input", "{{ method }}_country input", "{{ method }}_address input", {{ default_location.latitude }}, {{ default_location.longitude }}, "{{ method }}");
    {% endif %}
    $('#shout_{{ method }}_form .item-category li').click(function () {
      var clicked_category = $(this).text();

      if (!$('#id_tags').tagExist(clicked_category)) {
        $('#id_tags').addTag(clicked_category);
        category_count_val++;
      }
    });
    $("#shout_offer_modal").submit(function () {
      alert('error');
      return false;
    });
  });
</script>