{% load widget_tweaks %}
{% load template_filters %}
{% load i18n %}
<form id='signin_form' action="/signin/" method="post">
    {% csrf_token %}
    <div class="input-field">
        {{ form.username_or_email|trans_attr:"placeholder:Username or Email" }}
    </div>
    <div class="input-field">
        {{ form.password|trans_attr:"placeholder:Password" }}
    </div>
    <button type="submit" class="btn btn-primary">{% trans "Sign in" %}</button>
</form>
<div class="hr-with-title">
    <span class="hr-title">{% trans "New Shouter?" %}</span>
</div>
<div class="with-facebook">
    <a href="#signup" data-toggle="modal" data-target="#signup_modal" data-dismiss="modal">{% trans "Sign up here" %}</a>
</div>
<div class="hr-with-title">
    <span class="hr-title">{% trans "Forgot your password?" %}</span>
</div>
<div class="with-facebook">
    <a href="#recover" data-toggle="modal" data-target="#recover_modal" data-dismiss="modal">{% trans "Recover it here" %}</a>
</div>
<div class="hr-with-title">
    <span class="hr-title">{% trans "Are you on Facebook?" %}</span>
</div>
<div class="with-facebook">{% trans "Sign in using" %} <button class="facebook-button">{% trans "Facebook" %}</button>
</div>
<script type="text/javascript" language="JavaScript">
    $('form#signin_form').submitAjaxily(function (data) {
        if (redirect_after_login)
            redirect_by_response(data);
        else {
            $('body').trigger('signin_ok', [data.data.username]);
            redirect_after_login = true;
        }
    });
    $('.facebook-button').click(function () {
        FB.login(null,{'scope':'email,user_birthday,publish_actions'});
    });
</script>